!!!
%html{lang: "en"}
  -# Google tag (gtag.js)
  %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-7VD1T7W41S"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-7VD1T7W41S');
  #about.shadow-1-strong.bg-white.my-5.p-5
    .about-section
      .row
        .col-md-6.text-center
          %h2.h2.fw-light.mb-4 About Me
          %p Hello, I'm Ryan Scherbarth, a sophomore computer science student attending UNM. Interested in the cyber security space, My current experience is in secure web application development  High Performance Computing (HPC). I am on track to graduate Dec. 2024.
          %p
            I have made this website with ruby on rails, and the repo is public, which can be found
            = succeed "." do
              %a{href: "https://github.com/rysc3/web"} here
        .col-md-5.offset-lg-1.text-center
          .row.mt-2
            %h2.h2.fw-light.mb-4 Bio
            .col-sm-5
              .pb-2.fw-bolder
                %i.far.fa-calendar-alt.pe-2.text-muted{style: "width:24px;opacity:0.85;"}
                Age
            .col-sm-7
              .pb-2 19
            .col-sm-5
              .pb-2.fw-bolder
                %i.far.fa-envelope.pe-2.text-muted{style: "width:24px;opacity:0.85;"}
                Email
            .col-sm-7
              .pb-2
                %a{href: "mailto:ryan@ryanscherbarth.com"} ryan@ryanscherbarth.com
            .col-sm-5
              .pb-2.fw-bolder
                %i.fab.fa-linkedin.pe-2.text-muted{style: "width:24px;opacity:0.85;"}
                Linkedin
            .col-sm-7
              .pb-2
                %a{href: "https://www.linkedin.com/in/ryanscherbarth/"} linkedin.com/in/ryanscherbarth
            .col-sm-5
              .pb-2.fw-bolder
                %i.fas.fa-map-marker-alt.pe-2.text-muted{style: "width:24px;opacity:0.85;"}
                Location
            .col-sm-7
              .pb-2 Albuquerque, NM
