!!!
%html{lang: "en"}
  -# Google tag (gtag.js)
  %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-7VD1T7W41S"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-7VD1T7W41S');
  #education.shadow-1-strong.bg-white.my-5.p-5
    .education-section
      %h2.h2.fw-light.mb-4.text-center Education
      .timeline
        .timeline-card.timeline-card-success{"data-aos" => "fade-in", "data-aos-delay" => "0"}
          .timeline-head.px-4.pt-3
            .h5
              B.S. Computer Science
              %span.text-muted.h6 - University of New Mexico
          .timeline-body.px-4.pb-4
            .text-muted.text-small.mb-3 2022 - (Exp. Dec. 2024)
            %div
              %p Minor: Mathematics
              %p Current grade: Sophomore
        .timeline-card.timeline-card-success{"data-aos" => "fade-in", "data-aos-delay" => "200"}
          .timeline-head.px-4.pt-3
            .h5
              B.A.S.c Information Technology
              %span.text-muted.h6 from Texas Tech University
          .timeline-body.px-4.pb-4
            .text-muted.text-small.mb-3 Dec. 2022 - Aug. 2022
            %div
              %p Concentration: Cyber Security
        .timeline-card.timeline-card-success{"data-aos" => "fade-in", "data-aos-delay" => "400"}
          .timeline-head.px-4.pt-3
            .h5
              La Cueva High School
              %span.text-muted.h6
          .timeline-body.px-4.pb-4
            .text-muted.text-small.mb-3 Aug. 2018 - Dec. 2021
            %div
              %p
