!!!
%html{lang: "en"}
  -# Google tag (gtag.js)
  %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-7VD1T7W41S"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-7VD1T7W41S');
  #honors-and-awards.shadow-1-strong.bg-white.my-5.p-5
    .education-section
      %h2.h2.fw-light.mb-4.text-center Honors and Awards
      .timeline
        .timeline-card.timeline-card-success{"data-aos" => "fade-in", "data-aos-delay" => "0"}
          .timeline-head.px-4.pt-3
            .h5
              Outstanding Sophomore Award
              %span.text-muted.h6 - School of Engineering
          .timeline-body.px-4.pb-4
            .text-muted.text-small.mb-3 2023
          .timeline-card.timeline-card-success{"data-aos" => "fade-in", "data-aos-delay" => "200"}
            .timeline-head.px-4.pt-3
              .h5
                Dean's List
                %span.text-muted.h6 - (21 Semester Credit Hours)
          .timeline-body.px-4.pb-4
            .text-muted.text-small.mb-3 Spring 2023
        .timeline-card.timeline-card-success{"data-aos" => "fade-in", "data-aos-delay" => "400"}
          .timeline-head.px-4.pt-3
            .h5
              Dean's List
              %span.text-muted.h6 - (18 Semester Credit Hours)
          .timeline-body.px-4.pb-4
            .text-muted.text-small.mb-3 Fall 2022
