!!!
%html{lang: "en"}
  -# Google tag (gtag.js)
  %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-7VD1T7W41S"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-7VD1T7W41S');
  #name-links.shadow-1-strong.bg-white.my-5.p-5
    .education-section
      %h2.h2.fw-light.mb-4.text-center Oh, there's my name
      .timeline
        .timeline-card.timeline-card-success{"data-aos" => "fade-in", "data-aos-delay" => "0"}
          .timeline-head.px-4.pt-3
            .h5
              %a{href: "http://carc.unm.edu/news--events/News/hpc-competitions-2023.html"} Center for Advanced Research Computing
              %span.text-muted.h6 ( 2023 )
        .timeline-card.timeline-card-success{"data-aos" => "fade-in", "data-aos-delay" => "0"}
          .timeline-head.px-4.pt-3
            .h5
              %a{href: "https://www.winterclassicinvitational.com/team/university-of-new-mexico/"} Winter Classic Invitational HPC Competiton
              %span.text-muted.h6 ( 2023 )
        .timeline-card.timeline-card-success{"data-aos" => "fade-in", "data-aos-delay" => "0"}
          .timeline-head.px-4.pt-3
            .h5
              %a{href: "https://www.athlinks.com/event/35398/results/Event/1032202/Course/2296577/Bib/1417"} Duke City Half Marathon
              %span.text-muted.h6 ( Oct. 16 2022 )
