!!!
%html{lang: "en"}
  -# Google tag (gtag.js)
  %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-7VD1T7W41S"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-7VD1T7W41S');
  #education.shadow-1-strong.bg-white.my-5.p-5
    .education-section
      %h2.h2.fw-light.mb-4 Projects [yet to be implemented]
      .timeline
        .timeline-card.timeline-card-success{"data-aos" => "fade-in", "data-aos-delay" => "0"}
          .timeline-head.px-4.pt-3
            .h5
              %a{href: "/prog/bookshelf"} Bookshelf
          .timeline-body.px-4.pb-4
            %div
              %p WIP
        .timeline-card.timeline-card-success{"data-aos" => "fade-in", "data-aos-delay" => "200"}
          .timeline-head.px-4.pt-3
            .h5
              %a{href: "/prog/portfolio_tracker"} Stock Portfolio Tracker
          .timeline-body.px-4.pb-4
            %div
              %p I have investments in multiple different accounts, charles schwab, vanguard etc. There is no great way to track them all in one place right now.
              %p This will essentially be a better version of mint
        .timeline-card.timeline-card-success{"data-aos" => "fade-in", "data-aos-delay" => "400"}
          .timeline-head.px-4.pt-3
            .h5
              %a{href: "/prog/calculator_app"} Calculator App
          .timeline-body.px-4.pb-4
            %div
              %p A bunch of miscellaneous calculators that are unique enough to where they're not super easy to find
        .timeline-card.timeline-card-success{"data-aos" => "fade-in", "data-aos-delay" => "400"}
          .timeline-head.px-4.pt-3
            .h5
              %a{href: "/prog/calculator_app"} Running Stats
          .timeline-body.px-4.pb-4
            %div
              %p I run a lot,  track all my runs with Nike Run Club. This gives me lots of data to mess around w
