!!!
%html{lang: "en"}
  -# Google tag (gtag.js)
  %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-7VD1T7W41S"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-7VD1T7W41S');
  #education.shadow-1-strong.bg-white.my-5.p-5
    .education-section
      %h2.h2.fw-light.mb-4 Articles
      .timeline
        .timeline-card.timeline-card-success{"data-aos" => "fade-in", "data-aos-delay" => "0"}
          .timeline-head.px-4.pt-3
            .h5
              Masters in Information Technology
              %span.text-muted.h6 from International University
          .timeline-body.px-4.pb-4
            .text-muted.text-small.mb-3 2011 - 2013
            %div Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
        .timeline-card.timeline-card-success{"data-aos" => "fade-in", "data-aos-delay" => "200"}
          .timeline-head.px-4.pt-3
            .h5
              Bachelor of Computer Science
              %span.text-muted.h6 from Regional College
          .timeline-body.px-4.pb-4
            .text-muted.text-small.mb-3 2007 - 2011
            %div Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
        .timeline-card.timeline-card-success{"data-aos" => "fade-in", "data-aos-delay" => "400"}
          .timeline-head.px-4.pt-3
            .h5
              Science and Mathematics
              %span.text-muted.h6 from Mt. High Scool
          .timeline-body.px-4.pb-4
            .text-muted.text-small.mb-3 1995 - 2007
            %div User generated content in real-time will have multiple touchpoints for offshoring. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
