!!!
%html{lang: "en"}
  -# Google tag (gtag.js)
  %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-7VD1T7W41S"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-7VD1T7W41S');
  %body
  %section.page-section.cta
    .container
      .row.justify-content-center
        .col-xl-9.mx-auto
          .cta-inner.bg-faded.text-center.rounded
            %h2.section-heading.mb-4
              %span.section-heading-upper
              %span.section-heading-lower Fall 2023
            .row
              .col
                %p.mb-0
                %li 28 Credit Hours
                %li Team Manager - SC23 HPC Competition
                %li UNM SOE Peer Mentor
              .col
                %p.mb-0
                %li Sandia Labs
                %li UNM EPICS Internship