.container.border.rounded.p-3{:style => "background-color: #f6e1c5;"}
  .row
    .col-md-4
      #list-example.list-group
        - @docs.each do |doc|
          %a.list-group-item.list-group-item-action{href: "#doc-#{doc.id}"}= doc.title
    .col-md-8.pr-0
      .scrollspy-example{"data-bs-smooth-scroll" => "true", "data-bs-spy" => "scroll", "data-bs-target" => "#list-example", tabindex: "0"}
        - @docs.each do |doc|
          = link_to doc_path(doc) do
            %h4#list-item-1= doc.title
          %p= doc.blob
