.text-center.button-container
	%a.btn.btn-primary.btn-xl{href: "/resume"} View / Download Resume
	%a.btn.btn-primary.btn-xl{href: "/schedule"} Schedule a Meeting
	%a.btn.btn-primary.btn-xl{href: "/contact"} Contact Me
	%a.btn.btn-primary.btn-xl{href: "/#"} Other Button
