<div class="shadow-1-strong bg-white my-5 p-5" id="education">
    <div class="education-section">
      <h2 class="h2 fw-light mb-4 text-center">Education</h2>
      <div class="timeline">
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">B.S. Computer Science  <span class="text-muted h6"> - University of New Mexico</span>          </div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">2022 - (Exp. Dec. 2024)</div>
            <div>
                <p> Minor: Mathematics</p>
                <p> Current grade: Sophomore </p>
            </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="200">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">B.A.S.c Information Technology <span class="text-muted h6">from Texas Tech University</span>          </div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">Dec. 2022 - Aug. 2022</div>
            <div>
                <p> Concentration: Cyber Security </p>
            </div>
        </div>
        </div>
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="400">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">La Cueva High School <span class="text-muted h6"></span>          </div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">Aug. 2018 - Dec. 2021</div>
            <div>
                <p>  </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
