%footer.navbar.navbar-expand-lg.navbar-dark.bg-dark.bottom
  .container
    .row
      .col-md-5
        %h3.navbar-brand
          %i
          Site Map
        .navbar-nav.ml-auto
          .row
            .col-6
              %ul
                %li
                  %a{href: "/"} Home
                %li
                  %a{href: "/resume"} Resume
                %li
                  %a{href: "/schedule"} Schedule

