%footer.footer.text-faded.text-center.py-5
  .container
    %p.m-0.small Here goes my site map I haven't done this yet
/ Bootstrap core JS
%script{src: "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"}
/ Core theme JS
%script{src: "../../assets/js/scripts.js"}