<div class="shadow-1-strong bg-white my-5 p-5" id="honors-and-awards">
    <div class="education-section">
      <h2 class="h2 fw-light mb-4 text-center">Honors and Awards</h2>
      <div class="timeline">
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Outstanding Sophomore Award<span class="text-muted h6"> - School of Engineering</span>          </div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">2023</div>
        </div>
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="200">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Dean's List <span class="text-muted h6"> - (21 Semester Credit Hours)</span>          </div>
          </div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">Spring 2023</div>
          </div>
        </div>
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="400">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Dean's List <span class="text-muted h6"> - (18 Semester Credit Hours)</span>          </div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">Fall 2022</div>
          </div>
        </div>
      </div>
    </div>
  </div>
