<!DOCTYPE html>
<html lang="en-US">

  <div class="shadow-1-strong bg-white my-5 p-5" id="about">
    <div class="about-section">
      <div class="row">
        <div class="col-md-6">
          <h2 class="h2 fw-light mb-4">About Me</h2>
            <p> Hello, I'm Ryan Scherbarth, a sophomore computer science student attending UNM. Interested in the cyber security space, My current experience is in secure web application development & High Performance Computing (HPC). I am on track to graduate Dec. 2024. </p>
            <p> I have made this website with ruby on rails, and the repo is public, which can be found <a href="https://github.com/rysc3/web">here</a>. The site is then hosted through a gitlab CI pipeline and deployed on heroku.</p>
        </div>
        <div class="col-md-5 offset-lg-1">
          <div class="row mt-2">
            <h2 class="h2 fw-light mb-4">Bio</h2>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="far fa-calendar-alt pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Age</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">19</div>
            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="far fa-envelope pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Email</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2"><a href="mailto:ryan@ryanscherbarth.com">ryan@ryanscherbarth.com</a></div>

            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fab fa-linkedin pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Linkedin</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2"><a href="https://www.linkedin.com/in/ryanscherbarth/">linkedin.com/in/ryanscherbarth</a></div>
            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fas fa-map-marker-alt pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Location</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">Albuquerque, NM</div>
            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fas fa-phone pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Contact</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2"><a href="/contact">Get in touch</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shadow-1-strong bg-white my-5 p-5" id="experience">
    <div class="work-experience-section">
      <h2 class="h2 fw-light mb-4">Work Experience</h2>
      <div class="timeline">
         <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="200">
          <div class="timeline-head px-4 pt-3">
            <div class="h5"> Senior Research Assistant <span class="text-muted h6">at Center for Advanced Research Computing</span></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3"> May 2023 - Present</div>
            <div>
                <p> (Still figuring stuff out lol) </p>
            </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Solutions Architect Intern <span class="text-muted h6">at Sandia National Laboratories</span></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">Oct. 2022 - Present  |  <strong>[Offer through graduation: Dec. 2024]</strong></div>
            <div>
                <p> Currently Maintaining a DOE-Q Top Secret Security Clearance. </p>
                <p> Year round Software R&D Intern in the Cyber Security & Mission Computing Center. </p>
                <p> Developed & maintained secure web applications using Ruby on Rails, Ruby, HTML, CSS, & Javascript. </p>
            </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="400">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Software Engineer Intern <span class="text-muted h6">at Air Force Research Laboratory</span></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">Aug. 2022 - Dec. 2022</div>
            <div>
                <p> Collaborated with the Cyber Resiliency Team as a part of the Space Vehicles Directorate on cyber hardened
software & hardware. </p>
                <p> Created a virtual space vehicle test environment, gaining familiarity with Open Sat Kit (OSK), COSMOS, and
NASA’s Core Flight Software (cFS), while studying common types of cyber-attacks toward space vehicles. </p>
            </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5"> - Other / Non-Relevant - <span class="text-muted h6"></span></div>
          </div>
          <div class="timeline-body px-4 pb-4">
          </div>
        </div>
        <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Shift Lead <span class="text-muted h6">at Walgreens</span></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">Apr. 2021 - Dec. 2022</strong></div>
          </div>
        </div>
        <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Shift Lead / Manager <span class="text-muted h6">at Menchies</span></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">Oct. 2019 - Apr. 2021</strong></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shadow-1-strong bg-white my-5 p-5" id="education">
    <div class="education-section">
      <h2 class="h2 fw-light mb-4">Education</h2>
      <div class="timeline">
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">B.S. Computer Science  <span class="text-muted h6"> - University of New Mexico</span>          </div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">2022 - (Exp. Dec. 2024)</div>
            <div>
                <p> Minor: Mathematics</p>
                <p> Current grade: Sophomore </p>
            </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="200">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">B.A.S.c Information Technology <span class="text-muted h6">from Texas Tech University</span>          </div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">Dec. 2022 - Aug. 2022</div>
            <div>
                <p> Concentration: Cyber Security </p>
            </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="400">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">La Cueva High School <span class="text-muted h6"></span>          </div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">Aug. 2018 - Dec. 2021</div>
            <div>
                <p>  </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="shadow-1-strong bg-white my-5 p-5" id="education">
    <div class="education-section">
      <h2 class="h2 fw-light mb-4">Projects [yet to be implemented] </h2>
      <div class="timeline">
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5"><a href="/prog/bookshelf">Bookshelf</a> </div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div>
                <p> WIP </p>
            </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="200">
          <div class="timeline-head px-4 pt-3">
            <div class="h5"> <a href="/prog/portfolio_tracker"> Stock Portfolio Tracker </a> </div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div>
            <p> I have investments in multiple different accounts, charles schwab, vanguard etc. There is no great way to track them all in one place right now. </p>
            <p> This will essentially be a better version of mint </p>
            </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="400">
          <div class="timeline-head px-4 pt-3">
            <div class="h5"> <a href="/prog/calculator_app">Calculator App </a></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div>
                <p> A bunch of miscellaneous calculators that are unique enough to where they're not super easy to find </p>
            </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="400">
          <div class="timeline-head px-4 pt-3">
            <div class="h5"> <a href="/prog/calculator_app">Running Stats </a></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div>
                <p> I run a lot, & track all my runs with Nike Run Club. This gives me lots of data to mess around w </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="shadow-1-strong bg-white my-5 p-5" id="education">
    <div class="education-section">
      <h2 class="h2 fw-light mb-4">Oh, there's my name</h2>
      <div class="timeline">
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5"><a href="http://carc.unm.edu/news--events/News/hpc-competitions-2023.html"> Center for Advanced Research Computing</a> <span class="text-muted h6"> ( 2023 ) </span>          </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5"><a href="http://carc.unm.edu/news--events/News/hpc-competitions-2023.html"> Winter Classic Invitational HPC Competiton</a> <span class="text-muted h6"> ( 2023 ) </span>          </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5"><a href="https://www.athlinks.com/event/35398/results/Event/1032202/Course/2296577/Bib/1417"> Duke City Half Marathon</a> <span class="text-muted h6"> ( Oct. 16 2022 ) </span>          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
     <div class="shadow-1-strong bg-white my-5 p-5" id="education">
    <div class="education-section">
      <h2 class="h2 fw-light mb-4">Articles</h2>
      <div class="timeline">
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Masters in Information Technology <span class="text-muted h6">from International University</span>          </div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">2011 - 2013</div>
            <div>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</div>
          </div>
        </div>
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="200">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Bachelor of Computer Science <span class="text-muted h6">from Regional College</span>          </div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">2007 - 2011</div>
            <div>Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</div>
          </div>
        </div>
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="400">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Science and Mathematics <span class="text-muted h6">from Mt. High Scool</span>          </div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">1995 - 2007</div>
            <div>User generated content in real-time will have multiple touchpoints for offshoring. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a class="btn btn-primary btn-xl" href="/resume">Download Resume PDF</a>
  </div>
  </body>
</html>
