  <div class="shadow-1-strong bg-white my-5 p-5" id="education">
    <div class="education-section">
      <h2 class="h2 fw-light mb-4">Projects [yet to be implemented] </h2>
      <div class="timeline">
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5"><a href="/prog/bookshelf">Bookshelf</a> </div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div>
                <p> WIP </p>
            </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="200">
          <div class="timeline-head px-4 pt-3">
            <div class="h5"> <a href="/prog/portfolio_tracker"> Stock Portfolio Tracker </a> </div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div>
            <p> I have investments in multiple different accounts, charles schwab, vanguard etc. There is no great way to track them all in one place right now. </p>
            <p> This will essentially be a better version of mint </p>
            </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="400">
          <div class="timeline-head px-4 pt-3">
            <div class="h5"> <a href="/prog/calculator_app">Calculator App </a></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div>
                <p> A bunch of miscellaneous calculators that are unique enough to where they're not super easy to find </p>
            </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="400">
          <div class="timeline-head px-4 pt-3">
            <div class="h5"> <a href="/prog/calculator_app">Running Stats </a></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div>
                <p> I run a lot, & track all my runs with Nike Run Club. This gives me lots of data to mess around w </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
