!!!
%html{lang: "en"}
  -# Google tag (gtag.js)
  %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-7VD1T7W41S"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-7VD1T7W41S');
  #referral-links.shadow-1-strong.bg-white.my-5.p-5
    .education-section
      %h2.h2.fw-light.mb-4.text-center Referral Links for Things
      .timeline
        .row
          .col-lg-6.text-center
            .timeline-card.timeline-card-success{"data-aos" => "fade-in", "data-aos-delay" => "0"}
              / First Timeline Card
              .timeline-head.px-4.pt-3
                .h5 Credit Cards
              .timeline-body.px-4.pb-4
                %div
                  %p
                    %a{href: "https://americanexpress.com/en-us/referral/RYANSplYa?XLINK=MYCP"} Amex Platinum
                  %p
                    %a{href: "https://americanexpress.com/en-us/referral/RYANS1Og1?XLINK=MYCP"} Amex Gold
                  %p
                    %a{href: "https://americanexpress.com/en-us/referral/RYANST7Ts?XLINK=MYCP"} Amex Blue Business Plus
                  %p
                    %a{href: "https://americanexpress.com/en-us/referral/cobrand/RYANSeETk?XLINK=MYCP"} Amex Business Prime
                  %p
                    %a{href: "https://refer.discover.com/s/mppdhv"} Discover it Chrome
          .col-lg-6.text-center
            .timeline-card.timeline-card-success{"data-aos" => "fade-in", "data-aos-delay" => "200"}
              / Second Timeline Card
              .timeline-head.px-4.pt-3
                .h5 Other Things
              .timeline-body.px-4.pb-4
                %div
                  %p
                    %a{href: "https://www.schwab.com/client-referral?refrid=REFER"} Charles Schwab
                  %p
                    %a{href: "https://join.robinhood.com/ryans-b88a99c8"} Robinhood
                  %p
                    %a{href: "https://accounts.chase.com/raf/share/3038128043"} Chase
                  %p
                    %a{href: "https://join.withyotta.com/RYAN5886"} Yotta Savings
                  %p
                    %a{href: "https://www.rakuten.com/r/RYSCHE6?eeid=28187"} Rakuten
        / Add more timeline cards following the same structure
