<div class="shadow-1-strong bg-white my-5 p-5" id="referral-links">
    <div class="education-section">
      <h2 class="h2 fw-light mb-4 text-center">Referral Links for Things</h2>
      <div class="timeline">
        <div class="row">
  <div class="col-lg-6 text-center">
    <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
      <!-- First Timeline Card -->
      <div class="timeline-head px-4 pt-3">
        <div class="h5">Credit Cards</div>
      </div>
      <div class="timeline-body px-4 pb-4">
        <div>
          <p> <a href="https://americanexpress.com/en-us/referral/RYANSplYa?XLINK=MYCP">Amex Platinum</a> </p>
          <p> <a href="https://americanexpress.com/en-us/referral/RYANS1Og1?XLINK=MYCP">Amex Gold</a> </p>
          <p> <a href="https://americanexpress.com/en-us/referral/RYANST7Ts?XLINK=MYCP">Amex Blue Business Plus</a> </p>
          <p> <a href="https://americanexpress.com/en-us/referral/cobrand/RYANSeETk?XLINK=MYCP">Amex Business Prime</a> </p>
          <p> <a href="https://refer.discover.com/s/mppdhv">Discover it Chrome</a> </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 text-center">
    <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="200">
      <!-- Second Timeline Card -->
      <div class="timeline-head px-4 pt-3">
        <div class="h5">Other Things</div>
      </div>
      <div class="timeline-body px-4 pb-4">
        <div>
          <p> <a href="https://www.schwab.com/client-referral?refrid=REFER">Charles Schwab</a> </p>
          <p> <a href="https://join.robinhood.com/ryans-b88a99c8">Robinhood</a> </p>
          <p> <a href="https://accounts.chase.com/raf/share/3038128043">Chase</a> </p>
          <p> <a href="https://join.withyotta.com/RYAN5886">Yotta Savings</a> </p>
          <p> <a href="https://www.rakuten.com/r/RYSCHE6?eeid=28187">Rakuten</a> </p>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Add more timeline cards following the same structure -->
</div>
      </div>
    </div>
  </div>
