%div.container{ :style => "max-width: 80%; overflow-y: auto; overflow-x: hidden; white-space: pre-wrap"  }
  %p
    ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCvVgTblr3B8inne21sQt+TcjHfdind9G9I4F3C3h7oJBNCNJtHlSvOCYi8gb8eGWY4G+FyyMEDMcf
    N5/qLii5F7HuvsWGt4QRGCDaMYNUrFqSH44SYjWUj5gyW5JOAwKa0imvLFoS2BusS5X+HurHgvDDf778CwowxixmYzcBffZ16lLLLA3wpOA9BGGouT2
    Y496HwVnoKW+3D1Ly2NYJjzjnxhKU6CXwbE6kE8dairX7uNApe9h0uOzmqVbzf4zPtkTpMtNDH0VC3fGzueX8Czjd+Kal+j0kMtRsmO3r5qEtoOFLOr
    e0MUvKLh/FYX/bSa+3O7n0yBLOObZluH3721DCYiCfr0QwErk79I5UoiRhODcmjrt9UyzR30ENAyopcKKkIK/m/Nr86vHzdKquwSba4YdDzDUMSFcaA
    qlo+ATfGiMZwwMM7dvX24ul9FAocykc0KHKEWkBAM0vvL7o1mwmlo5Ib90ZOGVP5Z5hS58O0ssGjZ+ue85xw9zHyPw0= ryserver@ryserver
