 <div class="shadow-1-strong bg-white my-5 p-5" id="work-experience">
    <div class="work-experience-section">
      <h2 class="h2 fw-light mb-4 text-center">Work Experience</h2>
      <div class="timeline">
         <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="200">
          <div class="timeline-head px-4 pt-3">
            <div class="h5"> Senior Research Assistant <span class="text-muted h6">at Center for Advanced Research Computing</span></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3"> May 2023 - Present</div>
            <div>
                <p> (Still figuring stuff out lol) </p>
            </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Solutions Architect Intern <span class="text-muted h6">at Sandia National Laboratories</span></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">Oct. 2022 - Present  |  <strong>[Offer through graduation: Dec. 2024]</strong></div>
            <div>
                <p> Currently Maintaining a DOE-Q Top Secret Security Clearance. </p>
                <p> Year round Software R&D Intern in the Cyber Security & Mission Computing Center. </p>
                <p> Developed & maintained secure web applications using Ruby on Rails, Ruby, HTML, CSS, & Javascript. </p>
            </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="400">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Software Engineer Intern <span class="text-muted h6">at Air Force Research Laboratory</span></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">Aug. 2022 - Dec. 2022</div>
            <div>
                <p> Collaborated with the Cyber Resiliency Team as a part of the Space Vehicles Directorate on cyber hardened
software & hardware. </p>
                <p> Created a virtual space vehicle test environment, gaining familiarity with Open Sat Kit (OSK), COSMOS, and
NASA’s Core Flight Software (cFS), while studying common types of cyber-attacks toward space vehicles. </p>
            </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5"> - Other / Non-Relevant - <span class="text-muted h6"></span></div>
          </div>
          <div class="timeline-body px-4 pb-4">
          </div>
        </div>
        <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Shift Lead <span class="text-muted h6">at Walgreens</span></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">Apr. 2021 - Dec. 2022</strong></div>
          </div>
        </div>
        <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Shift Lead / Manager <span class="text-muted h6">at Menchies</span></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">Oct. 2019 - Apr. 2021</strong></div>
          </div>
        </div>
      </div>
    </div>
  </div>
