!!!
%html{lang: "en"}
  -# Google tag (gtag.js)
  %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-7VD1T7W41S"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-7VD1T7W41S');
  #work-experience.shadow-1-strong.bg-white.my-5.p-5
    .work-experience-section
      %h2.h2.fw-light.mb-4.text-center Work Experience
      .timeline
        .timeline-card.timeline-card-info{"data-aos" => "fade-in", "data-aos-delay" => "200"}
          .timeline-head.px-4.pt-3
            .h5
              Senior Research Assistant
              %span.text-muted.h6 at Center for Advanced Research Computing
          .timeline-body.px-4.pb-4
            .text-muted.text-small.mb-3 May 2023 - Present
            %div
              %p (Still figuring stuff out lol)
        .timeline-card.timeline-card-info{"data-aos" => "fade-in", "data-aos-delay" => "0"}
          .timeline-head.px-4.pt-3
            .h5
              Solutions Architect Intern
              %span.text-muted.h6 at Sandia National Laboratories
          .timeline-body.px-4.pb-4
            .text-muted.text-small.mb-3
              Oct. 2022 - Present  |
              %strong [Offer through graduation: Dec. 2024]
            %div
              %p Currently Maintaining a DOE-Q Top Secret Security Clearance.
              %p Year round Software R Intern in the Cyber Security  Mission Computing Center.
              %p Developed  maintained secure web applications using Ruby on Rails, Ruby, HTML, CSS,  Javascript.
        .timeline-card.timeline-card-info{"data-aos" => "fade-in", "data-aos-delay" => "400"}
          .timeline-head.px-4.pt-3
            .h5
              Software Engineer Intern
              %span.text-muted.h6 at Air Force Research Laboratory
          .timeline-body.px-4.pb-4
            .text-muted.text-small.mb-3 Aug. 2022 - Dec. 2022
            %div
              %p
                Collaborated with the Cyber Resiliency Team as a part of the Space Vehicles Directorate on cyber hardened
                software  hardware.
              %p
                Created a virtual space vehicle test environment, gaining familiarity with Open Sat Kit (OSK), COSMOS, and
                NASA&#x2019;s Core Flight Software (cFS), while studying common types of cyber-attacks toward space vehicles.
        .timeline-card.timeline-card-info{"data-aos" => "fade-in", "data-aos-delay" => "0"}
          .timeline-head.px-4.pt-3
            .h5
              \- Other / Non-Relevant -
              %span.text-muted.h6
          .timeline-body.px-4.pb-4
        .timeline-card.timeline-card-info{"data-aos" => "fade-in", "data-aos-delay" => "0"}
          .timeline-head.px-4.pt-3
            .h5
              Shift Lead
              %span.text-muted.h6 at Walgreens
          .timeline-body.px-4.pb-4
            .text-muted.text-small.mb-3 Apr. 2021 - Dec. 2022
      .timeline-card.timeline-card-info{"data-aos" => "fade-in", "data-aos-delay" => "0"}
        .timeline-head.px-4.pt-3
          .h5
            Shift Lead / Manager
            %span.text-muted.h6 at Menchies
        .timeline-body.px-4.pb-4
          .text-muted.text-small.mb-3 Oct. 2019 - Apr. 2021
