.container.p3.mb4
  %table.table.table-striped.table-dark.text-center
    %thead
      %tr
        %th.text-center{:colspan => "3"} Fall 2022
    %thead
      %tr
        %th{:scope => "col"} Course
        %th{:scope => "col"} Title
        %th{:scope => "col"} Credits
    %tbody
      %tr
        %th{:scope => "row"} CS 152L
        %td Computer Programming Fundamentals
        %td 3
      %tr
        %th{:scope => "row"} ENGL 1120
        %td Composition 2
        %td 3
      %tr
        %th{:scope => "row"} GEOL 1110
        %td Physical Geology
        %td 3
      %tr
        %th{:scope => "row"} GEOL 1110L
        %td Physical Geology Lab
        %td 1
      %tr
        %th{:scope => "row"} GRMN 1110
        %td German 1
        %td 3
      %tr
        %th{:scope => "row"} Math 1250
        %td Trigonometry & Pre-Calculus
        %td 5
      %tr
        %th{:scope => "row"}
        %td
        %td (18)

.container.p3.mb4
  %table.table.table-striped.table-dark.text-center
    %thead
      %tr
        %th.text-center{:colspan => "3"} Spring 2023
    %thead
      %tr
        %th{:scope => "col"} Course
        %th{:scope => "col"} Title
        %th{:scope => "col"} Credits
    %tbody
      %tr
        %th{:scope => "row"} CS 241L
        %td Data Organization
        %td 3
      %tr
        %th{:scope => "row"} CS 251L
        %td Intermediate Programming
        %td 3
      %tr
        %th{:scope => "row"} CS 293
        %td Social and Ethical Issues in Computing
        %td 1
      %tr
        %th{:scope => "row"} ECE 238L
        %td Computer Logic Design
        %td 4
      %tr
        %th{:scope => "row"} ENGL 2210
        %td Professional and Technical Communication
        %td 3
      %tr
        %th{:scope => "row"} GEOL 1165
        %td People and Place
        %td 3
      %tr
        %th{:scope => "row"} MATH 1512
        %td Calculus 1
        %td 4
      %tr
        %th{:scope => "row"}
        %td
        %td (21)

.container.p3.mb4
  %table.table.table-striped.table-dark.text-center
    %thead
      %tr
        %th.text-center{:colspan => "3"} Summer 2023
    %thead
      %tr
        %th{:scope => "col"} Course
        %th{:scope => "col"} Title
        %th{:scope => "col"} Credits
    %tbody
      %tr
        %th{:scope => "row"} ARCH 1120
        %td Intro to Architecture
        %td 3
      %tr
        %th{:scope => "row"} ENVS 1130
        %td The Blue Planet
        %td 3
      %tr
        %th{:scope => "row"}
        %td
        %td (6)

.container.p3.mb4
  %table.table.table-striped.table-dark.text-center
    %thead
      %tr
        %th.text-center{:colspan => "3"} Fall 2023
    %thead
      %tr
        %th{:scope => "col"} Course
        %th{:scope => "col"} Title
        %th{:scope => "col"} Credits
    %tbody
      %tr
        %th{:scope => "row"} CS 261
        %td Maht Foundations of Computer Science
        %td 3
      %tr
        %th{:scope => "row"} CS 351L
        %td Design of Large Programs
        %td 4
      %tr
        %th{:scope => "row"} CS 499
        %td Individual Study - UNM EPICS Progarm
        %td 3
      %tr
        %th{:scope => "row"} CS 499
        %td Individual Study - SC23 Student Cluster Competition
        %td 3
      %tr
        %th{:scope => "row"} HNRS 1120
        %td Legacy of Ancient Greece
        %td 3
      %tr
        %th{:scope => "row"} MATH 1522
        %td Calculus 2 (CNM)
        %td 4
      %tr
        %th{:scope => "row"}
        %td
        %td (20)

.container.p3.mb4
  %table.table.table-striped.table-dark.text-center
    %thead
      %tr
        %th.text-center{:colspan => "3"} Spring 2024
    %thead
      %tr
        %th{:scope => "col"} Course
        %th{:scope => "col"} Title
        %th{:scope => "col"} Credits
    %tbody
      %tr
        %th{:scope => "row"} CS 357L
        %td Declarative Programming
        %td 3
      %tr
        %th{:scope => "row"} CS 361L
        %td Data Structures and Algorithms
        %td 3
      %tr
        %th{:scope => "row"} CS 591
        %td ST: High Performance Computing (Grad lvl)
        %td 3
      %tr
        %th{:scope => "row"} MATH 2531
        %td Calculus 3
        %td 4
      %tr
        %th{:scope => "row"} MATH 306
        %td College Geometry
        %td 3
      %tr
        %th{:scope => "row"} MATH 356
        %td Symbolic Logic (Grad lvl)
        %td 4
      %tr
        %th{:scope => "row"}
        %td
        %td (20)

.container.p3.mb4
  %table.table.table-striped.table-dark.text-center
    %thead
      %tr
        %th.text-center{:colspan => "3"} Summer 2024
    %thead
      %tr
        %th{:scope => "col"} Course
        %th{:scope => "col"} Title
        %th{:scope => "col"} Credits
    %tbody
      %tr
        %th{:scope => "row"} MATH 314
        %td Linear Algebra with Applications (ASU)
        %td 3
      %tr
        %th{:scope => "row"} STAT 345
        %td Elements fo Math Statistics and Probability
        %td 3
      %tr
        %th{:scope => "row"} PHYS 1310
        %td Calculus-Based Physics 1 (ASU)
        %td 3
      %tr
        %th{:scope => "row"}
        %td
        %td (9)

.container.p3.mb4
  %table.table.table-striped.table-dark.text-center
    %thead
      %tr
        %th.text-center{:colspan => "3"} Fall 2024
    %thead
      %tr
        %th{:scope => "col"} Course
        %th{:scope => "col"} Title
        %th{:scope => "col"} Credits
    %tbody
      %tr
        %th{:scope => "row"} CS 341L
        %td Intro to Computer Architecture and Organization
        %td 3
      %tr
        %th{:scope => "row"} CS 561
        %td Data Structures and Algorithms (Grad lvl)
        %td 3
      %tr
        %th{:scope => "row"} CS 460
        %td Software Engineering
        %td 3
      %tr
        %th{:scope => "row"} CS 481
        %td Computer Operating Systems
        %td 3
      %tr
        %th{:scope => "row"} GEOL 2110C
        %td Historical Geology
        %td 4
      %tr
        %th{:scope => "row"} MATH 375
        %td Introduction to Numerical Computing
        %td 3
      %tr
        %th{:scope => "row"} CS 551
        %td SC24 Student Cluster Competition
        %td 3
      %tr
        %th{:scope => "row"}
        %td (In Progress)
        %td (22)

.container.p3.mb4
  %table.table.table-striped.table-dark.text-center
    %thead
      %tr
        %th.text-center{:colspan => "2"} Total (inc. transfer)
        %th{:colspan => "1"} 144
