!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title Portfolio
    %link{href: "assets/favicon.ico", rel: "icon", type: "image/x-icon"}/
    / Google fonts
    %link{href: "https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i", rel: "stylesheet"}/
    %link{href: "https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i", rel: "stylesheet"}/
    / Core theme CSS (includes Bootstrap)
    %link{href: asset_path('layout_stylesheets/layout.css'), rel: 'stylesheet'}/
  %body
    %header
      %h1.site-heading.text-center.text-faded.d-none.d-lg-block
        %span.site-heading-upper.text-primary.mb-3 Ryan Scherbarth
        %span.site-heading-lower Portfolio
    / Navigation
    -# %nav#mainNav.navbar.navbar-expand-lg.navbar-dark.py-lg-4
    -#   .container
    -#     %a.navbar-brand.text-uppercase.fw-bold.d-lg-none{href: "index.html"} Start Bootstrap
    -#     %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", type: "button"}
    -#       %span.navbar-toggler-icon
    -#     #navbarSupportedContent.collapse.navbar-collapse
    -#       %ul.navbar-nav.mx-auto
    -#         %li.nav-item.px-lg-4
    -#           %a.nav-link.text-uppercase{href: "index.html"} Home
    -#         %li.nav-item.px-lg-4
    -#           %a.nav-link.text-uppercase{href: "about.html"} About
    -#         %li.nav-item.px-lg-4
    -#           %a.nav-link.text-uppercase{href: "products.html"} Products
    -#         %li.nav-item.px-lg-4
    -#           %a.nav-link.text-uppercase{href: "store.html"} Store
    %section.page-section.clearfix
      .container
        .intro
          = image_tag(asset_path('ryan-crop-2.JPG'), class: 'intro-img img-fluid mb-3 mb-lg-0 rounded', alt: '...', style: "width: 70%;")
          .intro-text.left-0.text-center.bg-faded.p-5.rounded
            %h2.section-heading.mb-4
              %span.section-heading-upper
              %span.section-heading-lower Online Resume
            %p.mb-3 View my online Resume below, or click
            %a{href: "https://www.dropbox.com/s/9kr9aqxgj5usnsi/Ryan%20Scherbarth%20-%20Resume.pdf?dl=0"} here
            %span to view or download the PDF.
            .intro-button.mx-auto
              %a.btn.btn-primary.btn-xl{href: "/resume"} Online Resume
    %section.page-section.cta
      .container
        .row.justify-content-center
          .col-xl-9.mx-auto
            .cta-inner.bg-faded.text-center.rounded
              %h2.section-heading.mb-4
                %span.section-heading-upper
                %span.section-heading-lower Fall 2023
              .row
                .col
                  %p.mb-0
                  %li 28 Credit Hours
                  %li Team Manager - SC23 HPC Competition
                  %li UNM SOE Peer Mentor
                .col
                  %p.mb-0
                  %li Sandia Labs
                  %li secondary internship (undecided)

    %section.page-section.clearfix
      .container
        .row
          .col-md-8
            .calendar-container
              %iframe{frameborder: "0", scrolling: "no", src: "https://calendar.google.com/calendar/u/0/embed?color=%237b7b7c&color=%23b7c4cf&color=%23b99aff&color=%23d7c0ae&color=%23eee3cb&color=%23ffd1d1&color=%23fff5e4&src=1bd0e4bcce132a21a406fd53f1acd935da9e420ac839a4600bb6e04c14b02aa3@group.calendar.google.com&src=2ns7dp882s7lf4ie5jl4pj9v8k@group.calendar.google.com&src=32694e9821418c658d9b2a7399ea12559604c15519a0c3de49c75c95750ccf12@group.calendar.google.com&src=5fb581535030c1bd32558f8b1e559dc4ffad66f2897133bef8b86de25dbf5b60@group.calendar.google.com&src=m0blcf10e3rmki9d6aq6l3p61o@group.calendar.google.com&src=ry.scherbarth@gmail.com&src=sqp94athapp1gj7h51kkp1rp20@group.calendar.google.com&mode=WEEK", style: "width: 100%; height: 850px;"}
          .col-md-4
            .row
              .col-md-12
                .intro-text.left-0.text-center.bg-faded.p-5.rounded
                  %h2.section-heading.mb-4
                    %span.section-heading-upper
                    %span.section-heading-lower Schedule a Meeting
                  %a.mb-3{href: "/schedule"} Schedule Page
              .col-md-12
                .iframe-container
                  %iframe{frameborder: "0", src: "https://koalendar.com/e/schedule-a-meeting-koaEB55g?embed=true", style: "width: 100%; height: 590px;"}

    -# %footer.footer.navbar-dark.text-faded.text-center.py-5
    -#   .container
    -#     %p.m-0.small Copyright © Your Website 2023
    / Bootstrap core JS
    %script{src: "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"}
    / Core theme JS
    %script{src: "js/scripts.js"}
