%div.row
  %div.col-md-4.d-flex.flex-column.align-items-center
    .profile-picture
      #carouselProfile.carousel.slide.carousel-fade{"data-bs-ride" => "carousel", "data-bs-interval" => "10000"}
        .carousel-indicators
          %button.active{"aria-current" => "true", "aria-label" => "Slide 1", "data-bs-slide-to" => "0", "data-bs-target" => "#carouselProfile", :type => "button"}
          %button{"aria-label" => "Slide 2", "data-bs-slide-to" => "1", "data-bs-target" => "#carouselProfile", :type => "button"}
          %button{"aria-label" => "Slide 3", "data-bs-slide-to" => "2", "data-bs-target" => "#carouselProfile", :type => "button"}
          %button{"aria-label" => "Slide 4", "data-bs-slide-to" => "3", "data-bs-target" => "#carouselProfile", :type => "button"}
        .carousel-inner
          .carousel-item.active
            %img.custom-carousel-img.d-block.w-100{alt: "img 1", src: asset_path('Profile-02.jpeg')}
          .carousel-item
            %img.custom-carousel-img.d-block.w-100{alt: "img 1", src: asset_path('Profile-01.jpg')}
          .carousel-item
            %img.custom-carousel-img.d-block.w-100{alt: "img 1", src: asset_path('Profile-03.jpeg')}
          .carousel-item
            %img.custom-carousel-img.d-block.w-100{alt: "img 1", src: asset_path('Profile-04.jpeg')}

    %div.favicon-container.mt-3.d-flex.justify-content-center
      %ul.favicon-list.list-inline.text-center
        %li.favicon-item.list-inline-item
          %a{href: "https://www.linkedin.com/in/ryanscherbarth/", target: "_blank"}
            %i.fab.fa-linkedin
        %li.favicon-item.list-inline-item
          %a{href: "https://github.com/rysc3", target: "_blank"}
            %i.fab.fa-github
        %li.favicon-item.list-inline-item
          %a{href: "https://stackoverflow.com/users/20306478/ry-sch", target: "_blank"}
            %i.fab.fa-stack-overflow
        %li.favicon-item.list-inline-item
          %a{href: "mailto:online@ryanscherbarth.com"}
            %i.fas.fa-envelope

  %div.col-md-8.d-flex.align-items-center
    %div.text-center
      %p
        I am a senior at the University of New Mexico studying Computer Science & Math, with a
        %b.underline graduation date of December 2024.
      %p.pt-2
        I am am currently working in the High Performance Computing division at Sandia Labs, as a HPC Systems Specialist at CARC, and as a Teaching Assistant for CS491: HPC. View my resume
        %a{href: "/resume"} here.
      %p.pt-2
        I am also involved in a number of different extracurricular competitions, including managing the UNM HPC team in the SC23 & SC24 HPC Competitions, and working as a student volunteer at the PEARC24 HPC Conference. More information can be found on my
        %a{href: "/resume"} resume.
      %p.pt-2
        My website is made in Ruby on Rails, More info about how I created it can be found
        %a{href: "/web"} here.
      %p.pt-2
        %b.underline
          %a{href: "/meet"} You can schedule a meeting with me here.

%h2.pt-5 Recent Events
%hr
  %div
    %ul
      %li
        (10/5/2024)
        %a{href: "https://news.unm.edu/news/carc-team-gears-up-for-sc24-competition", target: "_blank"} UNM Newsroom SC24 Article
      %li
        (10/2/2024)
        %a{href: "https://carc.unm.edu/news--events/News/sc24.html", target: "_blank"} SC24 CARC Team Article
      %li
        (9/11/2024)
        %a{href: "/sc24"} SC24 Cluster Build
      %li
        (9/7/2024)
        %a{href: "https://sc24.supercomputing.org/2024/09/teams-compete-in-the-ultimate-hpc-challenge-at-sc24/", target: "_blank"} SC24 Meet the Teams
      %li
        (5/15/2024)
        %a{href: "https://www.winterclassicinvitational.com/team/university-of-new-mexico-lobo24/", target: "_blank"} 2024 Winter Classic Invitational HPC Competition
      %li
        (5/5/2024)
        %a{href: "https://icpe2024.spec.org/program-committee/", target: "_blank"} Member of ICPE Artifact Review Committee
      %li
        (4/1/2024)
        %a{href: "https://www.hpcadvisorycouncil.com/events/student-cluster-competition/team-unm.php", target: "_blank"} ISC24 Student Cluster Competition Team
      %li
        (2/13/2024)
        %a{href: "https://www.westbigdatahub.org/post/two-western-states-teams-compete-in-student-cluster-competition-at-sc2023-in-denver_", target: "_blank"} West Big Data Innovation Hub SC23 Article
      %li
        (1/20/2024)
        %a{href: "https://fricke.co.uk/Teaching/CS491_2024/HPC_Course_Syllabus.pdf", target: "_blank"} TA for CS491 HPC Course
      %li
        (1/3/2024)
        %a{href: "https://medium.com/@penguinsolutions/student-cluster-competition-team-the-roadrunners-sponsored-by-penguin-solutions-at-sc23-e265233c8cff", target: "_blank"} Penguin Solutions Article, SC23 Competition
      %li
        (12/3/2023)
        %a{href: "https://carc.unm.edu/news--events/News/sc23-conference.html", :target => "_blank"} UNM CARC SC23 Team Article
      %li
        (11/23/2023)
        %a{href: "https://roadrunners.cs.unm.edu/", :target => "_blank"} UNM HPC Roadrunners Team Site
      %li
        (11/20/2023)
        %a{href: "https://www.penguinsolutions.com/company/resources/newsroom/student-cluster-competition-team-the-roadrunners-sponsored-by-penguin-solutions-at-sc23", :target => "_blank"} Penguin Solutions SC23 Team Sponsorship Article
      %li
        (10/22/2023)
        %a{href: "https://www.athlinks.com/event/35398/results/Event/1063165/Course/2408972/Bib/54", :target => "_blank"} Duke City Marathon
      %li
        (8/7/2023)
        %a{href: "https://sc23.supercomputing.org/2023/08/meet-this-years-scc-teams/", :target => "_blank"} SC23 Student Cluster Competition Team
      %li
        (5/5/2023)
        %a{href: "https://engineering.unm.edu/awards/annual-awards-2023.pdf", :target => "_blank"} UNM Outstanding Sophomore Award
      %li
        (5/3/2023)
        %a{href: "/web"} How I built my website
      %li
        (5/1/2023)
        %a{href: "https://carc.unm.edu/news--events/News/fall-23-undergrads.html", :target => "_blank"} UNM CARC Employee Article
      %li
        (4/10/2023)
        %a{href: "https://carc.unm.edu/news--events/News/hpc-competitions-2023.html", :target => "_blank"} UNM CARC HPC Team Article
      %li
        (3/30/2023)
        %a{href: "https://www.winterclassicinvitational.com/team/university-of-new-mexico/", :target => "_blank"} 2023 Winter Classic Invitational HPC Competition
      %li
        (3/3/2023)
        %a{href: "https://www.cs.unm.edu/news/2023/03/unm-computer-science-students-take-part-in-hpc-competition.html", :target => "_blank"} UNM CS Founding UNM HPC Team
      %li
        (3/2/2023)
        %a{href: "https://news.unm.edu/news/computer-science-students-take-part-in-hpc-competition", :target => "_blank"} UNM News Founding UNM HPC Team
      %li
        (1/25/2023)
        %a{href: "https://drive.google.com/file/d/1lyjeK7hHzxfpkWrZFMXKVdWN3r56dOvG/view", :target => "_blank"} NASA Minds Team Chilihouse
      %li
        (10/16/2022)
        %a{href: "https://www.athlinks.com/event/35398/results/Event/1032202/Course/2296577/Bib/1417", :target => "_blank"} Duke City Half Marathon


%h2.pt-5 Images
%hr

%div.mt-5
  %div.text-center
    %h3
      %a{href: "https://pearc.acm.org/"} PEARC24 HPC Conference (7/2024)

  %div.d-flex.justify-content-center
    #carouselPEARC24.carousel.slide{style: "width: 95%; max-width: 1500px;"}
      .carousel-indicators
        %button.active{"aria-current" => "true", "aria-label" => "Slide 1", "data-bs-slide-to" => "0", "data-bs-target" => "#carouselPEARC24", :type => "button"}
        %button{"aria-label" => "Slide 2", "data-bs-slide-to" => "1", "data-bs-target" => "#carouselPEARC24", :type => "button"}
        %button{"aria-label" => "Slide 3", "data-bs-slide-to" => "2", "data-bs-target" => "#carouselPEARC24", :type => "button"}
        %button{"aria-label" => "Slide 4", "data-bs-slide-to" => "3", "data-bs-target" => "#carouselPEARC24", :type => "button"}
        %button{"aria-label" => "Slide 5", "data-bs-slide-to" => "4", "data-bs-target" => "#carouselPEARC24", :type => "button"}
        %button{"aria-label" => "Slide 6", "data-bs-slide-to" => "5", "data-bs-target" => "#carouselPEARC24", :type => "button"}
      .carousel-inner
        .carousel-item.active
          %img.custom-carousel-img.d-block.w-100{alt: "img 1", src: asset_path('PEARC24-06.jpeg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 2", src: asset_path('PEARC24-01.jpeg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 3", src: asset_path('PEARC24-02.jpeg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 4", src: asset_path('PEARC24-03.jpeg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 5", src: asset_path('PEARC24-04.jpeg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 6", src: asset_path('PEARC24-05.jpeg')}
      %button.carousel-control-prev{"data-bs-slide" => "prev", "data-bs-target" => "#carouselPEARC24", :type => "button"}
        %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        %span.visually-hidden Previous
      %button.carousel-control-next{"data-bs-slide" => "next", "data-bs-target" => "#carouselPEARC24", :type => "button"}
        %span.carousel-control-next-icon{"aria-hidden" => "true"}
        %span.visually-hidden Next

%div.mt-5
  %div.text-center
    %h3
      %a{href: "https://rmacc.org/about-us"} RMACC HPC Conference (5/2024)

  %div.d-flex.justify-content-center
    #carouselRMACC24.carousel.slide{style: "width: 95%; max-width: 1500px;"}
      .carousel-indicators
        %button.active{"aria-current" => "true", "aria-label" => "Slide 1", "data-bs-slide-to" => "0", "data-bs-target" => "#carouselRMACC24", :type => "button"}
        %button{"aria-label" => "Slide 2", "data-bs-slide-to" => "1", "data-bs-target" => "#carouselRMACC24", :type => "button"}
        %button{"aria-label" => "Slide 3", "data-bs-slide-to" => "2", "data-bs-target" => "#carouselRMACC24", :type => "button"}
      .carousel-inner
        .carousel-item.active
          %img.custom-carousel-img.d-block.w-100{alt: "img 1", src: asset_path('RMACC24-01.jpeg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 2", src: asset_path('RMACC24-02.jpeg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 3", src: asset_path('RMACC24-03.jpeg')}
      %button.carousel-control-prev{"data-bs-slide" => "prev", "data-bs-target" => "#carouselRMACC24", :type => "button"}
        %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        %span.visually-hidden Previous
      %button.carousel-control-next{"data-bs-slide" => "next", "data-bs-target" => "#carouselRMACC24", :type => "button"}
        %span.carousel-control-next-icon{"aria-hidden" => "true"}
        %span.visually-hidden Next

%div.mt-5
  %div.text-center
    %h3
      %a{href: "/sc23"} SC23 HPC Competition (11/2023)

  %div.d-flex.justify-content-center
    #carouselSC23.carousel.slide{style: "width: 95%; max-width: 1500px;"}
      .carousel-indicators
        %button.active{"aria-current" => "true", "aria-label" => "Slide 1", "data-bs-slide-to" => "0", "data-bs-target" => "#carouselSC23", :type => "button"}
        %button{"aria-label" => "Slide 2", "data-bs-slide-to" => "1", "data-bs-target" => "#carouselSC23", :type => "button"}
        %button{"aria-label" => "Slide 3", "data-bs-slide-to" => "2", "data-bs-target" => "#carouselSC23", :type => "button"}
        %button{"aria-label" => "Slide 4", "data-bs-slide-to" => "3", "data-bs-target" => "#carouselSC23", :type => "button"}
        %button{"aria-label" => "Slide 5", "data-bs-slide-to" => "4", "data-bs-target" => "#carouselSC23", :type => "button"}
        %button{"aria-label" => "Slide 6", "data-bs-slide-to" => "5", "data-bs-target" => "#carouselSC23", :type => "button"}
        %button{"aria-label" => "Slide 7", "data-bs-slide-to" => "6", "data-bs-target" => "#carouselSC23", :type => "button"}
        %button{"aria-label" => "Slide 8", "data-bs-slide-to" => "7", "data-bs-target" => "#carouselSC23", :type => "button"}
        %button{"aria-label" => "Slide 9", "data-bs-slide-to" => "8", "data-bs-target" => "#carouselSC23", :type => "button"}
      .carousel-inner
        .carousel-item.active
          %img.custom-carousel-img.d-block.w-100{alt: "img 1", src: asset_path('SC23-04.jpg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 2", src: asset_path('SC23-01.jpeg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 3", src: asset_path('SC23-02.jpeg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 4", src: asset_path('SC23-03.jpeg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 5", src: asset_path('SC23-06.jpeg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 6", src: asset_path('SC23-05.jpeg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 7", src: asset_path('SC23-07.jpeg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 8", src: asset_path('SC23-08.jpeg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 9", src: asset_path('SC23-09.jpeg')}
      %button.carousel-control-prev{"data-bs-slide" => "prev", "data-bs-target" => "#carouselSC23", :type => "button"}
        %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        %span.visually-hidden Previous
      %button.carousel-control-next{"data-bs-slide" => "next", "data-bs-target" => "#carouselSC23", :type => "button"}
        %span.carousel-control-next-icon{"aria-hidden" => "true"}
        %span.visually-hidden Next

%div.mt-5
  %div.text-center
    %h3 Setup Photos

  %div.d-flex.justify-content-center
    #carouselSetup.carousel.slide{style: "width: 95%; max-width: 1500px;"}
      .carousel-indicators
        %button.active{"aria-current" => "true", "aria-label" => "Slide 1", "data-bs-slide-to" => "0", "data-bs-target" => "#carouselSetup", :type => "button"}
        %button{"aria-label" => "Slide 2", "data-bs-slide-to" => "1", "data-bs-target" => "#carouselSetup", :type => "button"}
        %button{"aria-label" => "Slide 3", "data-bs-slide-to" => "2", "data-bs-target" => "#carouselSetup", :type => "button"}
        %button{"aria-label" => "Slide 4", "data-bs-slide-to" => "3", "data-bs-target" => "#carouselSetup", :type => "button"}
        %button{"aria-label" => "Slide 5", "data-bs-slide-to" => "4", "data-bs-target" => "#carouselSetup", :type => "button"}
        %button{"aria-label" => "Slide 6", "data-bs-slide-to" => "5", "data-bs-target" => "#carouselSetup", :type => "button"}
        %button{"aria-label" => "Slide 7", "data-bs-slide-to" => "6", "data-bs-target" => "#carouselSetup", :type => "button"}
        %button{"aria-label" => "Slide 8", "data-bs-slide-to" => "7", "data-bs-target" => "#carouselSetup", :type => "button"}
        %button{"aria-label" => "Slide 9", "data-bs-slide-to" => "8", "data-bs-target" => "#carouselSetup", :type => "button"}
      .carousel-inner
        .carousel-item.active
          %img.custom-carousel-img.d-block.w-100{alt: "img 1", src: asset_path('Setup-01.jpg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 2", src: asset_path('Setup-05.jpeg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 3", src: asset_path('Setup-06.jpeg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 4", src: asset_path('Setup-08.jpg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 5", src: asset_path('Setup-09.jpg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 6", src: asset_path('Setup-07.jpg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 7", src: asset_path('Setup-02.jpeg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 8", src: asset_path('Setup-03.jpeg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 9", src: asset_path('Setup-04.jpeg')}
      %button.carousel-control-prev{"data-bs-slide" => "prev", "data-bs-target" => "#carouselSetup", :type => "button"}
        %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        %span.visually-hidden Previous
      %button.carousel-control-next{"data-bs-slide" => "next", "data-bs-target" => "#carouselSetup", :type => "button"}
        %span.carousel-control-next-icon{"aria-hidden" => "true"}
        %span.visually-hidden Next

%div.mt-5
  %div.text-center
    %h3
      %a{href: "https://www.athlinks.com/event/35398/results/Event/1063165/Course/2408972/Bib/54", :target => "_blank"} Duke City Marathon (10/2023)

  %div.d-flex.justify-content-center
    #carouseldukeFull.carousel.slide{style: "width: 95%; max-width: 1500px;"}
      .carousel-indicators
        %button.active{"aria-current" => "true", "aria-label" => "Slide 1", "data-bs-slide-to" => "0", "data-bs-target" => "#carouseldukeFull", :type => "button"}
        %button{"aria-label" => "Slide 2", "data-bs-slide-to" => "1", "data-bs-target" => "#carouseldukeFull", :type => "button"}
        %button{"aria-label" => "Slide 3", "data-bs-slide-to" => "2", "data-bs-target" => "#carouseldukeFull", :type => "button"}
      .carousel-inner
        .carousel-item.active
          %img.custom-carousel-img.d-block.w-100{alt: "img 1", src: asset_path('DukeFull-01.jpeg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 2", src: asset_path('DukeFull-03.jpeg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 3", src: asset_path('DukeFull-02.png')}
      %button.carousel-control-prev{"data-bs-slide" => "prev", "data-bs-target" => "#carouseldukeFull", :type => "button"}
        %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        %span.visually-hidden Previous
      %button.carousel-control-next{"data-bs-slide" => "next", "data-bs-target" => "#carouseldukeFull", :type => "button"}
        %span.carousel-control-next-icon{"aria-hidden" => "true"}
        %span.visually-hidden Next

%div.mt-5
  %div.text-center
    %h3
      %a{href: "https://www.athlinks.com/event/35398/results/Event/1032202/Course/2296577/Bib/1417", :target => "_blank"} Duke City Half Marathon (10/2022)

  %div.d-flex.justify-content-center
    #carouselDukeHalf.carousel.slide{style: "width: 95%; max-width: 1500px;"}
      .carousel-indicators
        %button.active{"aria-current" => "true", "aria-label" => "Slide 1", "data-bs-slide-to" => "0", "data-bs-target" => "#carouselDukeHalf", :type => "button"}
        %button{"aria-label" => "Slide 2", "data-bs-slide-to" => "1", "data-bs-target" => "#carouselDukeHalf", :type => "button"}
        %button{"aria-label" => "Slide 3", "data-bs-slide-to" => "2", "data-bs-target" => "#carouselDukeHalf", :type => "button"}
      .carousel-inner
        .carousel-item.active
          %img.custom-carousel-img.d-block.w-100{alt: "img 1", src: asset_path('DukeHalf-02.jpeg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 2", src: asset_path('DukeHalf-03.jpg')}
        .carousel-item
          %img.custom-carousel-img.d-block.w-100{alt: "img 3", src: asset_path('DukeHalf-01.png')}
      %button.carousel-control-prev{"data-bs-slide" => "prev", "data-bs-target" => "#carouselDukeHalf", :type => "button"}
        %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        %span.visually-hidden Previous
      %button.carousel-control-next{"data-bs-slide" => "next", "data-bs-target" => "#carouselDukeHalf", :type => "button"}
        %span.carousel-control-next-icon{"aria-hidden" => "true"}
        %span.visually-hidden Next
