%div.container
  %div.row
    %div.col.d-flex.flex-column.justify-content-center
      %h1.text-center Ryan Scherbarth

  %div.row
    %div.col.d-flex.justify-content-center
      %ul.favicon-list.list-inline
        %li.favicon-item.list-inline-item
          %a{:href => "https://www.linkedin.com/in/yourprofile", :target => "_blank"}
            %i.fab.fa-linkedin
        %li.favicon-item.list-inline-item
          %a{:href => "https://github.com/yourprofile", :target => "_blank"}
            %i.fab.fa-github
        %li.favicon-item.list-inline-item
          %a{:href => "https://twitter.com/yourprofile", :target => "_blank"}
            %i.fab.fa-twitter
        %li.favicon-item.list-inline-item
          %a{:href => "mailto:your.email@example.com"}
            %i.fas.fa-envelope

  %div.container.mt-5.pt-5
    %div.row
      %div.col-md-2.text-center
        %img{src: asset_path('sandia_labs_logo.png'), alt: "Company Logo", class: "img-fluid logo"}
      %div.col-md-10
        %h5 Sandia National Laboratories
        %p
          Oct 2022 -
          %b Present

    %div.row.position-relative.mt-4
      %div.col-md-2.text-center.position-relative
        %div.timeline-dot
        %div.timeline-line
      %div.col-md-10
        %h6 HPC Software Engineer
        %p
          Jan 2024 -
          %b Present
        %p Design, acquisition, deployment, operation, and optimization of Sandias large-scale scientific HPC clusters and their supporting platforms.

    %div.row.position-relative.mt-5
      %div.col-md-2.text-center.position-relative
        %div.timeline-dot
      %div.col-md-10
        %h6 Full Stack Software Engineer
        %p Oct 2022 - Jan 2024
        %p Fullstack web application developer in Ruby on Rails.

  %hr

  %div.container.mt-5.pt-5
    %div.row
      %div.col-md-2.text-center
        %img{src: asset_path('sandia_labs_logo.png'), alt: "Company Logo", class: "img-fluid logo"}
      %div.col-md-10
        %h6 HPC Systems Specialist
        %p Center for Advanced Research Computing · Part-time
        %p May 2023 - Present · 1 yr 4 mos
        %p Supporting users on UNMs HPC clusters, helping with introduction workshops for new users with varying levels of experience, holding open office hours for CARC users to ask questions for any issues they encounter.
        %div.skills
          %span.badge.badge-secondary High Performance Computing (HPC)
          %span.badge.badge-secondary Cloud Computing
          %span.badge.badge-secondary +1 skill
        %p hello
        %p world
        %p this
        %p is
        %p a
        %p test

  %hr
