%div.container
  %div.row
    %div.col.d-flex.flex-column.justify-content-center
      %h1.text-center Ryan Scherbarth

  %div.row
    %div.col.d-flex.justify-content-center
      %ul.favicon-list.list-inline
        %li.favicon-item.list-inline-item
          %a{:href => "https://www.linkedin.com/in/yourprofile", :target => "_blank"}
            %i.fab.fa-linkedin
        %li.favicon-item.list-inline-item
          %a{:href => "https://github.com/yourprofile", :target => "_blank"}
            %i.fab.fa-github
        %li.favicon-item.list-inline-item
          %a{:href => "https://twitter.com/yourprofile", :target => "_blank"}
            %i.fab.fa-twitter
        %li.favicon-item.list-inline-item
          %a{:href => "mailto:your.email@example.com"}
            %i.fas.fa-envelope

  %div.container.mt-5.pt-5
    %div.row.align-items-start
      %div.col-md-2.text-center
        %img{src: asset_path('sandia_labs_logo.png'), alt: "Company Logo", class: "img-fluid logo"}
      %div.col-md-10
        %h5.mt-0.mb-0 Sandia National Laboratories
        %p.mt-0.mb-0
          Oct 2022 -
          %b Present

    %div.row.position-relative.mt-4.align-items-start
      %div.col-md-2.text-center.position-relative
        %div.timeline-dot
        %div.timeline-line
      %div.col-md-10
        %h6 HPC Software Engineer
        %p.mt-0.mb-0
          Jan 2024 -
          %b Present
        %p Design, acquisition, deployment, operation, and optimization of Sandias large-scale scientific HPC clusters and their supporting platforms.

    %div.row.position-relative.mt-5.align-items-start
      %div.col-md-2.text-center.position-relative
        %div.timeline-dot
      %div.col-md-10
        %h6 Full Stack Software Engineer
        %p.mt-0.mb-0 Oct 2022 - Jan 2024
        %p Fullstack web application developer in Ruby on Rails.

  %hr

  %div.container.mt-5
    %div.row.align-items-start
      %div.col-md-2.text-center
        %img{src: asset_path('carc_logo_transparent.png'), alt: "Company Logo", class: "img-fluid logo"}
      %div.col-md-10
        %h5.mt-0.mb-0 Center for Advanced Research Computing
        %p.mt-0.mb-0
          Oct 2022 -
          %b Present

    %div.row.position-relative.mt-4.align-items-start
      %div.col-md-2.text-center.position-relative
        %div.timeline-dot
      %div.col-md-10
        %h6 HPC Systems Specialist
        %p Supporting users on UNMs HPC clusters, helping with introduction workshops for new users with varying levels of experience, holding open office hours for CARC users to ask questions for any issues theyre having.

  %hr

  %div.container.mt-5
    %div.row.align-items-start
      %div.col-md-2.text-center
        %img{src: asset_path('unm_logo.png'), alt: "Company Logo", class: "img-fluid logo"}
      %div.col-md-10
        %h5.mt-0.mb-0 The University of New Mexico
        %p.mt-0.mb-0 January 2024 - May 2024
        %p Teaching Assistant for computer science courses.
