%div
  %a{href: "https://outlook.office.com/bookwithme/user/62bf39ac60c5486eaecd2725e4ea5e83%40unm.edu/meetingtype/74431410-6950-48af-8bd9-72788c464053?anonymous" , :target => "_blank"} Schedule a CS491 Checkin meeting here.

%hr

%div
  .midFull
    .meeting-container
      .meeting-title
        %p Booking times are in MST
      .meeting-content
        %iframe.google-calendar{:frameborder => "0", :height => "750", :src => "https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FDenver&bgcolor=%23ffffff&mode=WEEK&showTitle=0&showCalendars=0&showPrint=0&src=cnkuc2NoZXJiYXJ0aEBnbWFpbC5jb20&src=bTBibGNmMTBlM3Jta2k5ZDZhcTZsM3A2MW9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=MGM0MDZjYTMyZWJkOTlkMjgxNzI0ZWMwNzJmYjI0MDRkNDcxYWNjZTUyZGIzZmFhZjIxMTc2ZmYxMTVjZmQ4ZkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=MzI2OTRlOTgyMTQxOGM2NThkOWIyYTczOTllYTEyNTU5NjA0YzE1NTE5YTBjM2RlNDljNzVjOTU3NTBjY2YxMkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=MzcyNDg1ZmFjM2M3MmFiMzhjOGExY2JkOGRlN2UxOGMxOGI3MzdiYTM1MjFiZWI0ZTUxYmNiNzMyNzRiOTI0YUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=NDk2ZGFlNGU3MmNmY2YwYmJiZTc4OGE3YjlmNTc3NmQ0ZDBlMjY2MTU1ZGE0NGFiYmRmMGY4OTE1YzAwMTAyY0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Mm5zN2RwODgyczdsZjRpZTVqbDRwajl2OGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=c3FwOTRhdGhhcHAxZ2o3aDUxa2twMXJwMjBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23ccc2b0&color=%23beb39a&color=%23beb39a&color=%238d9aa6&color=%23cca445&color=%23009688&color=%23ac9481&color=%23cc9c9c"}
        %iframe.koalendar{:frameborder => "0", :src => "https://koalendar.com/e/schedule-a-meeting-koaEB55g?embed=true"}
