%div
  %a{href: "https://outlook.office.com/bookwithme/user/62bf39ac60c5486eaecd2725e4ea5e83%40unm.edu/meetingtype/74431410-6950-48af-8bd9-72788c464053?anonymous" , :target => "_blank"} Schedule a CS491 Checkin meeting here.

%hr

%div
  .midFull
    .meeting-container
      .meeting-title
        %p Calendar is in MST, Booking times are in your time zone
      .meeting-content
        %iframe.google-calendar{:frameborder => "0", :height => "750", :src => "https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=America%2FDenver&showPrint=0&showTitle=0&showCalendars=0&mode=WEEK&src=cnkuc2NoZXJiYXJ0aEBnbWFpbC5jb20&src=c3FwOTRhdGhhcHAxZ2o3aDUxa2twMXJwMjBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=M2I3ZmRkMjNmY2M2ZWU0NWM5NjIxM2Y4NzM1OTdhNzI3NDkxZjJlYWY2MWU2ZGExNjdjNGZmYTdkMDcyNGFjZUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=bTBibGNmMTBlM3Jta2k5ZDZhcTZsM3A2MW9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=MjZiZWY1OTJkYzI3MzI5ZGY0NWQ1MjVmNjVjY2E1ZjZkZjJkN2U3MDJjY2FlMTUyMTkxOGE4OTY4ODFlMjM5Y0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=NjY1ODI0ZGI2NmI4YTRlNTcxMDU1NzBiMDk1NjExZGQ1YzkzOTEzNTVlZGNhMGM2MmRlOTdkYTY4YjI1YTJmNUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=MzI2OTRlOTgyMTQxOGM2NThkOWIyYTczOTllYTEyNTU5NjA0YzE1NTE5YTBjM2RlNDljNzVjOTU3NTBjY2YxMkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=MDcwMWRkNTBlZDA5YzI0NTkyODk1MTNkZTMyOWY5MmE3Yzg5YzQyMjViODJiZjYyYTVjMzM5NzM5MTA5NzA3ZEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=MzcyNDg1ZmFjM2M3MmFiMzhjOGExY2JkOGRlN2UxOGMxOGI3MzdiYTM1MjFiZWI0ZTUxYmNiNzMyNzRiOTI0YUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=NDk2ZGFlNGU3MmNmY2YwYmJiZTc4OGE3YjlmNTc3NmQ0ZDBlMjY2MTU1ZGE0NGFiYmRmMGY4OTE1YzAwMTAyY0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Mm5zN2RwODgyczdsZjRpZTVqbDRwajl2OGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=OHZnM3Z0MTVjMzdwcGUxMDBmc2FndXM2bWpqb2ZvMmRAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&src=cmprNWYzZnFqdnM3ZGk1YmphMnVuN2c4NWFhNWt2bXNAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y2xhc3Nyb29tMTEyOTY5OTYwMzEzNTg3OTEwNzQxQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=aXVhNDlsdXQzaDluMGxkN2M0Ymx2NmdvcTU2ZWh0ZGhAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23ccc2b0&color=%23cc9c9c&color=%23bcb9b3&color=%23beb39a&color=%237e8772&color=%23B39DDB&color=%238d9aa6&color=%23E67C73&color=%23c7a924&color=%23b0af7a&color=%23a68d81&color=%230B8043&color=%239da9a0&color=%234285F4&color=%23202124&color=%23b26e63"}
        %iframe.koalendar{:frameborder => "0", :src => "https://koalendar.com/e/schedule-a-meeting-koaEB55g?embed=true"}
