%h1.text-center photos
%div.container
  %div.row
    %div.col-md-12
      .image-wrapper
        %div.image-container{ style: "width:500px; height:375px; padding: 20px" }
          %img{ src: "../../assets/img/desktop-1.jpg", alt: "Image 1", style: "width:100%" }
  %div.row
    %div.col-md-12
      .image-wrapper
        %div.image-container{ style: "width:500px; height:375px; padding: 20px" }
          %img{ src: "../../assets/img/desktop-2.jpg", alt: "Image 2", style: "width:100%" }
  %div.row
    %div.col-md-12
      .image-wrapper
        %div.image-container{ style: "width:500px; height:375px; padding: 20px" }
          %img{ src: "../../assets/img/cable-1.jpg", alt: "Image 3", style: "width:100%" }
  %div.row
    %div.col-md-12
      .image-wrapper
        %div.image-container{ style: "width:500px; height:375px; padding: 20px" }
          %img{ src: "../../assets/img/cable-2.jpg", alt: "Image 4", style: "width:100%" }
  %div.row
    %div.col-md-12
      .image-wrapper
        %div.image-container{ style: "width:500px; height:375px; padding: 20px" }
          %img{ src: "../../assets/img/cable-3.jpg", alt: "Image 5", style: "width:100%" }




    -# %div.col-md-3
    -#   %img(src="image2.jpg" alt="Image 2")
    -# %div.col-md-3
    -#   %img(src="image3.jpg" alt="Image 3")
    -# %div.col-md-3
    -#   %img(src="image4.jpg" alt="Image 4")
