.resume-toolbar.d-flex.justify-content-between.align-items-center.mb-3
  %span.resume-toolbar-label Resume
  %a.resume-open-btn{href: "/Ryan%20Scherbarth%20-%20Resume.pdf", download: "Ryan Scherbarth - Resume.pdf"}
    Download PDF
    %i.fas.fa-download.ms-1

.resume-embed-wrap
  %iframe.resume-iframe{src: "/Ryan%20Scherbarth%20-%20Resume.pdf#zoom=page-fit&toolbar=0", frameborder: "0"}
