%div.container.mt-5
  %p.text-center
    View resume as a PDF
    %a{:href => "https://www.dropbox.com/scl/fi/gvtppgbtwmum74o1j5a88/Ryan-Scherbarth-Resume.pdf?rlkey=vyygimwhisrypxhrwl948aey5&st=cx3tp0ls&dl=0", :target => "_blank"} here.

%hr
%h3.text-center Professional Experience
%hr

%div.container.mt-5
  %div.row.align-items-center
    %div.col-md-2.d-flex.align-items-center.justify-content-center
      %img{src: asset_path('sandia_labs_logo.png'), alt: "Company Logo", class: "img-fluid", style: "max-height: 80px;"}
    %div.col-md-10
      %h5.company-name.fs-4 Sandia National Laboratories

  %div.row.position-relative.mt-4.align-items-center
    %div.col-md-2.d-flex.align-items-center.justify-content-center.position-relative
      %div.timeline-dot
    %div.col-md-10
      %h6.job-title HPC Software Engineer
      %p.job-dates.mb-1
        January 2024 -
        %b.underline Present
      %p.job-description.mt-3 Design, acquisition, deployment, operation, and optimization of Sandias large-scale scientific HPC clusters and their supporting platforms.


  %div.row.position-relative.mt-5.align-items-center
    %div.col-md-2.d-flex.align-items-center.justify-content-center.position-relative
      %div.timeline-dot
    %div.col-md-10
      %h6.job-title Full Stack Software Engineer
      %p.job-dates.mb-1 October 2022 - January 2024
      %p.job-description.mt-3 Fullstack web application developer in Ruby on Rails.

%hr

%div.container.mt-5
  %div.row.align-items-center
    %div.col-md-2.d-flex.align-items-center.justify-content-center
      %img{src: asset_path('carc_logo_transparent.png'), alt: "Company Logo", class: "img-fluid", style: "max-height: 100px;"}
    %div.col-md-10
      %h5.company-name.fs-4 Center for Advanced Research Computing

  %div.row.position-relative.mt-4.align-items-center
    %div.col-md-2.d-flex.align-items-center.justify-content-center.position-relative
      %div.timeline-dot
    %div.col-md-10
      %h6.job-title HPC Systems Specialist
      %p.job-dates.mb-1
        May 2023 -
        %b.underline Present
      %p.job-description.mt-3
        Supporting users on UNM HPC clusters, helping with introduction workshops for new users with varying levels of experience, holding open office hours for CARC users. Benchmarking, profiling, & reporting.

%hr

%div.container.mt-5
  %div.row.align-items-center
    %div.col-md-2.d-flex.align-items-center.justify-content-center
      %img{src: asset_path('unm_logo.png'), alt: "Company Logo", class: "img-fluid", style: "max-height: 110px;"}
    %div.col-md-10
      %h5.company-name.fs-4 The University of New Mexico

  %div.row.position-relative.mt-4.align-items-center
    %div.col-md-2.d-flex.align-items-center.justify-content-center.position-relative
      %div.timeline-dot
    %div.col-md-10
      %h6.job-title Teaching Assistant
      %p.job-dates.mb-1 January 2024 - May 2024
      %p.job-description.mt-3 Teaching Assistant for CS491: High Performance Computing.

%hr

%div.container.mt-5
  %div.row.align-items-center
    %div.col-md-2.d-flex.align-items-center.justify-content-center
      %img{src: asset_path('afrl_logo.png'), alt: "Company Logo", class: "img-fluid", style: "max-height: 130px;"}
    %div.col-md-10
      %h5.company-name.fs-4 The Air Force Research Laboratory

  %div.row.position-relative.mt-4.align-items-center
    %div.col-md-2.d-flex.align-items-center.justify-content-center.position-relative
      %div.timeline-dot
    %div.col-md-10
      %h6.job-title Software Engineer Intern
      %p.job-dates.mb-1 August 2022 - December 2022
      %p.job-description.mt-3
        Cyber Resilience Team, Space Vehicles Directorate at KAFB

%hr
%h3.text-center Education
%hr

%div.container.mt-5
  %div.row.align-items-center
    %div.col-md-2.d-flex.align-items-center.justify-content-center
      %img{src: asset_path('unm_logo.png'), alt: "Company Logo", class: "img-fluid", style: "max-height: 130px;"}
    %div.col-md-10
      %h5.company-name.fs-4 The University of New Mexico

  %div.row.position-relative.mt-2.align-items-center
    %div.col-md-2.d-flex.align-items-center.justify-content-center.position-relative
      %div.timeline-dot
    %div.col-md-10
      %h6.job-title B.S. Computer Science w/ Minor in Mathematics
      %p.job-dates.mb-1
        August 2022 -
        %b.underline December 2024

%hr
%h3.text-center Extracurricular Competitions
%hr

%div.container.mt-5
  %div.row.align-items-center
    %div.col-md-10
      %h5.company-name.fs-4.underline SC24 Student Cluster Competition

  %div.row.position-relative.mt-2.align-items-center
    %div.col-md-10
      %h6.job-title Team Manager
      %p.job-dates.mb-1
        June 2024 -
        %b.underline December 2024
      %p.job-description.mt-3
      With sponsorship from hardware and software vendor partners, competing student teams design and build small HPC clusters, learn scientific applications, and apply optimization techniques for their chosen architectures in a non-stop, 48-hour challenge. More info
      %a{:href => "/sc24"} here.

%hr

%div.container.mt-5
  %div.row.align-items-center
    %div.col-md-10
      %h5.company-name.fs-4 2024 Winter Classic Invitational Student Cluster Competition

  %div.row.position-relative.mt-2.align-items-center
    %div.col-md-10
      %h6.job-title Team Manager
      %p.job-dates.mb-1 January 2024 - May 2024
      %p.job-description.mt-3
        View team site
        %a{:href => "https://www.winterclassicinvitational.com/team/university-of-new-mexico-lobo24/", :target => "_blank"} here.

%hr

%div.container.mt-5
  %div.row.align-items-center
    %div.col-md-10
      %h5.company-name.fs-4 ISC24 Virtural Student Cluster Competition

  %div.row.position-relative.mt-2.align-items-center
    %div.col-md-10
      %h6.job-title Team Manager
      %p.job-dates.mb-1 January 2024 - April 2024
      %p.job-description.mt-3
        View competition site
        %a{:href => "https://www.isc-hpc.com/student-cluster-competition-2024.html", :target => "_blank"} here.

%hr

%div.container.mt-5
  %div.row.align-items-center
    %div.col-md-10
      %h5.company-name.fs-4.underline SC23 Student Cluster Competition

  %div.row.position-relative.mt-2.align-items-center
    %div.col-md-10
      %h6.job-title Team Manager
      %p.job-dates.mb-1 August 2023 - December 2023
      %p.job-description.mt-3
        More info
        %a{:href => "/sc23"} here.

%hr

%div.container.mt-5
  %div.row.align-items-center
    %div.col-md-10
      %h5.company-name.fs-4 2023 Winter Classic Invitational Student Cluster Competition

  %div.row.position-relative.mt-2.align-items-center
    %div.col-md-10
      %h6.job-title Team Manager
      %p.job-dates.mb-1 January 2023 - May 2023
      %p.job-description.mt-3
        View team site
        %a{:href => "https://www.winterclassicinvitational.com/team/university-of-new-mexico/", :target => "_blank"} here.

%hr

%div.container.mt-5
  %div.row.align-items-center
    %div.col-md-10
      %h5.company-name.fs-4 NASA Minds Team Chili House

  %div.row.position-relative.mt-2.align-items-center
    %div.col-md-10
      %h6.job-title Machine Learning Team
      %p.job-dates.mb-1 November 2022 - May 2023
      %p.job-description.mt-3
        View PDR
        %a{:href => "https://drive.google.com/file/d/1lyjeK7hHzxfpkWrZFMXKVdWN3r56dOvG/view", :target => "_blank"} here.

%hr
%h3.text-center Volunteering
%hr

%div.container.mt-5
  %div.row.align-items-center
    %div.col-md-10
      %h5.company-name.fs-4 UNM School of Engineering

  %div.row.position-relative.mt-2.align-items-center
    %div.col-md-10
      %h6.job-title Peer Mentor
      %p.job-dates.mb-1
        January 2023 -
        %b.underline Present
      %p.job-description.mt-3
        %a{:href => "https://ess.unm.edu/about-us/index.html", :target => "_blank"} UNM Engineering Student Success Center (ESS).

%hr

%div.container.mt-5
  %div.row.align-items-center
    %div.col-md-10
      %h5.company-name.fs-4 PEARC24 Conference

  %div.row.position-relative.mt-2.align-items-center
    %div.col-md-10
      %h6.job-title Student Voulenteer
      %p.job-dates.mb-1 July 2024
      %p.job-description.mt-3
        %a{:href => "https://pearc.acm.org/", :target => "_blank"} PEARC conference series.

%hr

%div.container.mt-5
  %div.row.align-items-center
    %div.col-md-10
      %h5.company-name.fs-4 International Conference for Performance Engineering (ICPE)

  %div.row.position-relative.mt-2.align-items-center
    %div.col-md-10
      %h6.job-title Member of Artifact Evaluation Committee
      %p.job-dates.mb-1 January 2024 - May 2024
      %p.job-description.mt-3
        %a{:href => "https://icpe2024.spec.org/program-committee/", :target => "_blank"} 2024 ICPE committee.

%hr

%div.container.mt-5
  %div.row.align-items-center
    %div.col-md-10
      %h5.company-name.fs-4 NM Supercomputing Challenge

  %div.row.position-relative.mt-2.align-items-center
    %div.col-md-10
      %h6.job-title Project Evaluation Committee Member
      %p.job-dates.mb-1 February 2024
      %p.job-description.mt-3
        %a{:href => "https://supercomputingchallenge.org/23-24/evaluations-schedule", :target => "_blank"} Supercomputing Challenge website.
