%div.d-flex.flex-column.align-items-center
  %img.sc-poster{src: asset_path('SC23Poster.jpg'), alt: 'SC23'}
  %p
    %a{href: "https://www.dropbox.com/scl/fi/yl7cvamao76y4biv2hiky/SC23Poster.pdf?rlkey=wefdxtu024bplxmh1uxn12ihy&st=1dh4posj&dl=0", target: "_blank"} view pdf
