-# :css
-#   .container {
-#     display: flex;
-#     align-items: flex-start;
-#   }

-#   .calendar-container {
-#     flex: 1;
-#     max-width: 70%;
-#     height: 0;
-#     padding-bottom: 75%; /* Adjust the aspect ratio based on your preference */
-#     position: relative;
-#   }

-#   .calendar-container iframe {
-#     position: absolute;
-#     top: 0;
-#     left: 0;
-#     width: 100%;
-#     height: 100%;
-#     border: 0;
-#   }

-#   .iframe-container {
-#     flex: 1;
-#     max-width: 30%;
-#     margin-left: 2%;
-#     height: 0;
-#     padding-bottom: 75%; /* Adjust the aspect ratio based on your preference */
-#     position: relative;
-#   }

-#   .iframe-container iframe {
-#     position: absolute;
-#     top: 0;
-#     left: 0;
-#     width: 100%;
-#     height: 100%;
-#     border: 0;
-#   }
-# %h1 sc23 Calendar
-# .container
-#   .calendar-container
%iframe{frameborder: "0", scrolling: "no", src: "https://calendar.google.com/calendar/embed?src=0c406ca32ebd99d281724ec072fb2404d471acce52db3faaf21176ff115cfd8f%40group.calendar.google.com&ctz=America%2FDenver&mode=WEEK", style: "width: 100%; height: 80%"}