!!!
%html{lang: "en"}
  -# Google tag (gtag.js)
  %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-7VD1T7W41S"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-7VD1T7W41S');
  :css
    .container {
      display: flex;
      align-items: flex-start;
    }

    .calendar-container {
      flex: 1;
      max-width: 70%;
      height: 0;
      padding-bottom: 75%; /* Adjust the aspect ratio based on your preference */
      position: relative;
    }

    .calendar-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }

    .iframe-container {
      flex: 1;
      max-width: 30%;
      margin-left: 2%;
      height: 0;
      padding-bottom: 75%; /* Adjust the aspect ratio based on your preference */
      position: relative;
    }

    .iframe-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  .container
    .calendar-container
      %iframe{frameborder: "0", scrolling: "no", src: "https://calendar.google.com/calendar/u/0/embed?color=%237b7b7c&color=%23b7c4cf&color=%23b99aff&color=%23d7c0ae&color=%23eee3cb&color=%23ffd1d1&color=%23fff5e4&src=1bd0e4bcce132a21a406fd53f1acd935da9e420ac839a4600bb6e04c14b02aa3@group.calendar.google.com&src=2ns7dp882s7lf4ie5jl4pj9v8k@group.calendar.google.com&src=32694e9821418c658d9b2a7399ea12559604c15519a0c3de49c75c95750ccf12@group.calendar.google.com&src=5fb581535030c1bd32558f8b1e559dc4ffad66f2897133bef8b86de25dbf5b60@group.calendar.google.com&src=m0blcf10e3rmki9d6aq6l3p61o@group.calendar.google.com&src=ry.scherbarth@gmail.com&src=sqp94athapp1gj7h51kkp1rp20@group.calendar.google.com&mode=WEEK"}
    .iframe-container
      %iframe{frameborder: "0", src: "https://koalendar.com/e/schedule-a-meeting-koaEB55g?embed=true"}
  /
    https://calendar.google.com/calendar/u/0/embed?color=%237b7b7c&color=%23b7c4cf&color=%23b99aff&color=%23d7c0ae&color=%23eee3cb&color=%23ffd1d1&color=%23fff5e4&src=1bd0e4bcce132a21a406fd53f1acd935da9e420ac839a4600bb6e04c14b02aa3@group.calendar.google.com&src=2ns7dp882s7lf4ie5jl4pj9v8k@group.calendar.google.com&src=32694e9821418c658d9b2a7399ea12559604c15519a0c3de49c75c95750ccf12@group.calendar.google.com&src=5fb581535030c1bd32558f8b1e559dc4ffad66f2897133bef8b86de25dbf5b60@group.calendar.google.com&src=m0blcf10e3rmki9d6aq6l3p61o@group.calendar.google.com&src=ry.scherbarth@gmail.com&src=sqp94athapp1gj7h51kkp1rp20@group.calendar.google.com&mode=WEEK
