= render 'chart'
%hr
= render 'calculator'
%hr
%p.text-center
  Start Price is set as the avg through your first month.
  Current price is set each time you enter this page.

  Options value is simply calculated as 3 * actual percent gain & does not take into account theta decay etc.
