.show-cont
  %img{:alt => "Displayed Image", :src => "#{asset_path('tesla-battery.png')}"}

%hr
%p
  A graph of the rate of battery drain over time while sentry mode is active. Battery was logged every 12 hours.
