%h1 Website Setup
%div
  %p
    My website is made from scratch in Ruby on Rails. The repo for the site can be found
    %a{href: "https://github.com/rysc3/web", target: "_blank"} here.
  %p
    %b I still need to finish this
