%div
  %p
    My website is made from scratch in Ruby on Rails. The repo for the site can be found
    %a{href: "https://github.com/rysc3/web", target: "_blank"} here.

  %p
    The site is using Ruby 3.2.0 and rails 6.1.4. The majority of the styling is using
    %a{href: "https://getbootstrap.com/docs/5.3/getting-started/introduction/", target: "_blank"} bootstrap 5,
    and then has a few customizations thrown on top using the
    %a{href: "https://github.com/rysc3/web/tree/main/app/assets/stylesheets/styles.css", target: "_blank"} CSS Stylesheets.

  %p
    The site is hosted on
    %a{href: "https://www.heroku.com/", target: "_blank"} Heroku,
    which makes it convenient to create git pipelines for deployment, as well as manage the SSL certificates. The domain is managed through
    %a{href: "https://domains.google/", target: "_blank"} google domains.

%div.container.mt-5
  %div.row
    %div.col-md-6
      %div.row.mb-3
        %img{src: asset_path('server-01.JPG'), alt: "First Image", class: "img-fluid", style: "max-height: 300px; width: 100%; object-fit: cover;"}
    %div.col-md-6
      %div.text-content
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur.
