!!!
%html{lang: "en"}
  %head
    / Google tag (gtag.js)
    %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-7VD1T7W41S"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-7VD1T7W41S')
  %body#page-top
    %link{href: "../assets/stylesheets/styles.css", rel: "stylesheet"}/
    / Header
    %header.masthead-opaque.d-flex.align-items-center
      .container.px-4.px-lg-5.text-center
        %h1.mb-1 ASUNM Agency X
        %h3.mb-5
          %em Office of the Director of Web Design
