!!!
%html{lang: "en"}
  %head
    / Google tag (gtag.js)
    %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-7VD1T7W41S"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-7VD1T7W41S')
  %h1 spacing
  %section#about.about
    .container{"data-aos" => "fade-up"}
      .row
        .col-lg-6.pt-4.pt-lg-0.order-1.order-lg-1.content
          %h3 President: Yoshi
          %p.fst-italic
            This is Yoshi, my kitten, and brother to Yumi. Although he is only 9 months old, he has quite a resume. Very motivated and ready to make a change.
          %ul
            %li
              %i.bi.bi-check-circle
              Serving as a student liaison to administration on issues involving students
            %li
              %i.bi.bi-check-circle
              Serving as a student advisor to the Board of Regents, President of the University, Provost, etc.
            %li
              %i.bi.bi-check-circle
              Chairing of the Student Fee Review Board
            %li
              %i.bi.bi-check-circle
              Managing and leading eight ASUNM student service agencies
            %li
              %i.bi.bi-check-circle
              Attending administrative meetings
          %p
            %strong Email:
            %a{href: "mailto:yoshi@ryanscherbarth.com?subject=Why%20I%20think%20Ryan%20should%20have%20the%20job"} yoshi@ryanscherbarth.com
        .col-lg-6.order-1.order-lg-2{"data-aos" => "fade-left", "data-aos-delay" => "100"}
          %img.img-fluid{alt: "", src: "../assets/img/yoshi-crop.jpg"}/
  %section#about.about
    .container{"data-aos" => "fade-up"}
      .row
        .col-lg-6.pt-4.pt-lg-0.order-1.order-lg-1.content
          %h3 Vice President: Yumi
          %p.fst-italic
            Yumi, my other kitten and sister to Yoshi, is 6 days older than Yoshi, and her resume shows she didn't waste a single minute of that time getting a head start. She
            also decided to swallow a bunch of yarn on thursday so we got to sit at the emergency vet all night. She is better now.
          %ul
            %li
              %i.bi.bi-check-circle
              Managing and overseeing the Senate and Committee Chairs
            %li
              %i.bi.bi-check-circle
              Assisting the President with everyday tasks and duties
            %li
              %i.bi.bi-check-circle
              Creating and distributing Full Senate meeting agendas and minutes
            %li
              %i.bi.bi-check-circle
              Distributing legislation and budgets passed by the Senate
            %li
              %i.bi.bi-check-circle
              Coordinating with Board of Regents, Student Activities, Student Government Accounting Office, etc.
            %li
              %i.bi.bi-check-circle
              Serving as a point of contact for all UNM students and organizations
          %p
            %strong Email:
            %a{href: "mailto:yumi@ryanscherbarth.com?subject=Why%20I%20think%20Ryan%20should%20have%20the%20job"} yumi@ryanscherbarth.com
        .col-lg-6.order-2.order-lg-1{"data-aos" => "fade-left", "data-aos-delay" => "100"}
          %img.img-fluid{alt: "", src: "../assets/img/yumi-crop.jpg"}/
  %section#about.about
    .container{"data-aos" => "fade-up"}
      .row
        .col-lg-6.pt-4.pt-lg-0.order-1.order-lg-1.content
          %h3 Director of Web Design: Ryan of course
          %p.fst-italic
            Pretend I added a photo of me
          %ul
            %li
              %i.bi.bi-check-circle
              So I couldn't find a job description of this position online anywhere besides the transcript
              %a{href: "https://asunm.unm.edu/government/vicepresidentoffice/senate/minutesandagendas/spring23/04-26-23fsagenda2.pdf"} here
              so I'm not quite sure what that will look like
            %li
              %i.bi.bi-check-circle
              other bullet
            %li
              %i.bi.bi-check-circle
              anotha one
          %p
            %strong Email:
            %a{href: "mailto:ryan@ryanscherbarth.com?subject=Ryan%20you%20got%20the%20job"} ryan@ryanscherbarth.com
        .col-lg-6.order-2.order-lg-1{"data-aos" => "fade-left", "data-aos-delay" => "100"}
          %img.img-fluid{alt: "", src: "../assets/img/yoshi-crop2.jpg"}/
