@font-face {
  font-family: 'FiraCode';
  src: url(asset-path('FiraCode-Regular.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode';
  src: url(asset-path('FiraCode-Bold.ttf')) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode';
  src: url(asset-path('FiraCode-Light.ttf')) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode';
  src: url(asset-path('FiraCode-Medium.ttf')) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode';
  src: url(asset-path('FiraCode-SemiBold.ttf')) format('truetype');
  font-weight: 600;
  font-style: normal;
}