!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title Business Casual - Start Bootstrap Theme
    %link{href: "assets/favicon.ico", rel: "icon", type: "image/x-icon"}/
    / Google fonts
    %link{href: "https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i", rel: "stylesheet"}/
    %link{href: "https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i", rel: "stylesheet"}/
    / Core theme CSS (includes Bootstrap)
    %link{href: asset_path('layout_stylesheets/layout.css'), rel: 'stylesheet'}/
  %body
    %header
      %h1.site-heading.text-center.text-faded.d-none.d-lg-block
        %span.site-heading-upper.text-primary.mb-3 A Free Bootstrap Business Theme
        %span.site-heading-lower Business Casual
    / Navigation
    %nav#mainNav.navbar.navbar-expand-lg.navbar-dark.py-lg-4
      .container
        %a.navbar-brand.text-uppercase.fw-bold.d-lg-none{href: "index.html"} Start Bootstrap
        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", type: "button"}
          %span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          %ul.navbar-nav.mx-auto
            %li.nav-item.px-lg-4
              %a.nav-link.text-uppercase{href: "index.html"} Home
            %li.nav-item.px-lg-4
              %a.nav-link.text-uppercase{href: "about.html"} About
            %li.nav-item.px-lg-4
              %a.nav-link.text-uppercase{href: "products.html"} Products
            %li.nav-item.px-lg-4
              %a.nav-link.text-uppercase{href: "store.html"} Store
    %section.page-section.clearfix
      .container
        .intro
          = image_tag(asset_path('yumi1.JPG'), class: 'intro-img img-fluid mb-3 mb-lg-0 rounded', alt: '...')
          .intro-text.left-0.text-center.bg-faded.p-5.rounded
            %h2.section-heading.mb-4
              %span.section-heading-upper Fresh Coffee
              %span.section-heading-lower Worth Drinking
            %p.mb-3 Every cup of our quality artisan coffee starts with locally sourced, hand picked ingredients. Once you try it, our coffee will be a blissful addition to your everyday morning routine - we guarantee it!
            .intro-button.mx-auto
              %a.btn.btn-primary.btn-xl{href: "#!"} Visit Us Today!
    %section.page-section.cta
      .container
        .row
          .col-xl-9.mx-auto
            .cta-inner.bg-faded.text-center.rounded
              %h2.section-heading.mb-4
                %span.section-heading-upper Our Promise
                %span.section-heading-lower To You
              %p.mb-0 When you walk into our shop to start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!
    %footer.footer.text-faded.text-center.py-5
      .container
        %p.m-0.small Copyright © Your Website 2023
    / Bootstrap core JS
    %script{src: "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"}
    / Core theme JS
    %script{src: "js/scripts.js"}
