!!!
%html
  %head
    / Google tag (gtag.js)
    %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-7VD1T7W41S"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-7VD1T7W41S');

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Ryan Scherbarth - Portfolio
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "Ryan Scherbarth - Portfolio", :name => "description"}/
    %meta{:content => "ryan, ryan scherbarth, scherbarth, ry, UNM, University of New Mexico, New Mexico, Sandia Labs, Center for Advanced Research Computing, student, computer science, cs, intern, internship", :name => "keywords"}/
    %meta{:content => "Ryan Scherbarth", :name => "author"}/
    %meta{:property => "og:image", :content => "https://ryanscherbarth.com/assets/profile.jpg"}/

    = stylesheet_link_tag 'styles', media: 'all'
    = stylesheet_link_tag 'application', media: 'all'

  %body
    %header#main-header
      .container
        %nav.navbar.navbar-expand-lg.navbar-dark.bg-black
          %a.navbar-brand{:href => "#"}
            %img{src: asset_path('profile.jpg'), alt: "Logo"}
          %button.navbar-toggler{"data-toggle" => "collapse", "data-target" => "#navbarNav", "aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation"}
            %span.navbar-toggler-icon
          #navbarNav.collapse.navbar-collapse
            %ul.navbar-nav.mr-auto
              %li.nav-item.active
                %a.nav-link{:href => "#"} Home
              %li.nav-item
                %a.nav-link{:href => "#about"} About
              %li.nav-item
                %a.nav-link{:href => "#services"} Services
              %li.nav-item
                %a.nav-link{:href => "#contact"} Contact
            %ul.navbar-nav.ml-auto
              %li.nav-item
                %a.nav-link{:href => "#shop"} Shop
              %li.nav-item
                %a.nav-link{:href => "#menu"} Menu

    = yield

    .gototop.js-top
      %a.js-gotop{:href => "#"}
        %i.fas.fa-angle-up
