!!!
%html
  %head
    / Google tag (gtag.js)
    %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-7VD1T7W41S"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-7VD1T7W41S');

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Ryan Scherbarth - Portfolio
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "Ryan Scherbarth - Portfolio", :name => "description"}/
    %meta{:content => "ryan, ryan scherbarth, scherbarth, ry, UNM, University of New Mexico, New Mexico, Sandia Labs, Center for Advanced Research Computing, student, computer science, cs, intern, internship", :name => "keywords"}/
    %meta{:content => "Ryan Scherbarth", :name => "author"}/
    %meta{:property => "og:image", :content => "https://ryanscherbarth.com/assets/profile.jpg"}/

    = stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

  %body
    %header#main-header
      .container
        %nav.navbar.navbar-expand-lg.navbar-dark.bg-black.justify-content-center
          #navbarNav.collapse.navbar-collapse
            %ul.navbar-nav
              %li.nav-item
                %a.nav-link{:href => "/"} Home
              %li.nav-item
                %a.nav-link{:href => "/resume"} Resume
              %li.nav-item
                %a.nav-link{:href => "/zoom"} Zoom
              %li.nav-item
                %a.nav-link{:href => "/courses"} Courses
              %li.nav-item
                %a.nav-link{:href => "/sc24"} SC24

    .content.flex-fill
      = yield

    %footer.footer.bg-black.py-4
      .container
        .row
          .col-md-12
            %ul.favicon-list.list-inline
              %li.favicon-item.list-inline-item
                %a{:href => "https://www.linkedin.com/in/yourprofile", :target => "_blank"}
                  %i.fab.fa-linkedin
              %li.favicon-item.list-inline-item
                %a{:href => "https://github.com/yourprofile", :target => "_blank"}
                  %i.fab.fa-github
              %li.favicon-item.list-inline-item
                %a{:href => "https://twitter.com/yourprofile", :target => "_blank"}
                  %i.fab.fa-twitter
              %li.favicon-item.list-inline-item
                %a{:href => "mailto:your.email@example.com"}
                  %i.fas.fa-envelope
