!!!
%html
  %head
    / Google tag (gtag.js)
    %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-7VD1T7W41S"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-7VD1T7W41S');

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Ryan Scherbarth - Portfolio
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "Ryan Scherbarth - Portfolio", :name => "description"}/
    %meta{:content => "ryan, ryan scherbarth, scherbarth, ry, UNM, University of New Mexico, New Mexico, Sandia Labs, Center for Advanced Research Computing, student, computer science, cs, intern, internship", :name => "keywords"}/
    %meta{:content => "Ryan Scherbarth", :name => "author"}/
    %meta{:property => "og:image", :content => "https://ryanscherbarth.com/assets/profile.jpg"}/

    = stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css', media: 'all'

  %body
    %header#main-header
      .container
        %nav.navbar.navbar-expand-lg.navbar-dark.bg-black
          %button.navbar-toggler{"data-bs-toggle" => "collapse", "data-bs-target" => "#navbarNav", "aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation"}
            %span.navbar-toggler-icon
          #navbarNav.collapse.navbar-collapse.justify-content-center
            %ul.navbar-nav
              %li.nav-item
                %a.nav-link{:href => "/"} Home
              %li.nav-item
                %a.nav-link{:href => "/courses"} Courses
              %li.nav-item
                %a.nav-link{:href => "/sc24"} SC24
              %li.nav-item
                %a.nav-link{:href => "https://www.dropbox.com/scl/fi/gvtppgbtwmum74o1j5a88/Ryan-Scherbarth-Resume.pdf?rlkey=vyygimwhisrypxhrwl948aey5&st=cx3tp0ls&dl=0", :target => "_blank"} Resume
              %li.nav-item
                %a.nav-link{:href => "/zoom"} Zoom

    .content.flex-grow-1
      = yield

    %hr

    %footer.footer.bg-black
      .container
        .row.justify-content-center
          .col-md-12.d-flex.justify-content-center
            %ul.favicon-list.list-inline
              %li.favicon-item.list-inline-item
                %a{:href => "https://www.linkedin.com/in/ryanscherbarth/", :target => "_blank"}
                  %i.fab.fa-linkedin
              %li.favicon-item.list-inline-item
                %a{:href => "https://github.com/rysc3", :target => "_blank"}
                  %i.fab.fa-github
              %li.favicon-item.list-inline-item
                %a{:href => "https://stackoverflow.com/users/20306478/ry-sch", :target => "_blank"}
                  %i.fab.fa-stack-overflow
              %li.favicon-item.list-inline-item
                %a{:href => "mailto:online@ryanscherbarth.com"}
                  %i.fas.fa-envelope
