!!!
%html
  %head
    %title ASUNM
    / Add your CSS and JavaScript includes here

  %body
    %header
      / Custom header content goes here

    %main
      = yield

    %footer
      / Custom footer content goes here
