!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title Agency X
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "keywords"}/
    / Google Fonts
    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i", rel: "stylesheet"}/
    / Vendor CSS Files
    %link{href: asset_path("vendor/animate.css/animate.min.css"), rel: "stylesheet"}/
    %link{href: asset_path("vendor/aos/aos.css"), rel: "stylesheet"}/
    %link{href: asset_path("vendor/bootstrap/css/bootstrap.min.css"), rel: "stylesheet"}/
    %link{href: asset_path("vendor/bootstrap-icons/bootstrap-icons.css"), rel: "stylesheet"}/
    %link{href: asset_path("vendor/boxicons/css/boxicons.min.css"), rel: "stylesheet"}/
    %link{href: asset_path("vendor/remixicon/remixicon.css"), rel: "stylesheet"}/
    %link{href: asset_path("vendor/swiper/swiper-bundle.min.css"), rel: "stylesheet"}/
    / Template Main CSS File
    %link{href: asset_path("asunm_styles.css"), rel: "stylesheet"}/
    /

  %body
    / ======= Header =======
    %header#header.fixed-top
      .container.d-flex.align-items-center
        %h1.logo.me-auto
          %a{href: "/asunm"} ASUNM Agency X
        / Uncomment below if you prefer to use an image logo
        / <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
        %nav#navbar.navbar.order-last.order-lg-0
          %ul
            %li
              %a{href: "/asunm"} Home
            %li
              %a{href: "/asunm/personnel"} Our Team
            %li
              %a{href: "/asunm/information"} information
    / End Header

    %main
      = yield

    / ======= Footer =======
    %footer#footer
      .footer-top
        .container
          .row
            .col-lg-3.col-md-6.footer-contact
              %h3 Lorem
              %p
                Lorem ipsum dolor
                %br/
                sit amet, consectetur
                %br/
                adipiscing elit
                %br/
                %br/
                %strong Phone:
                +1 123 456 7890
                %br/
                %strong Email:
                info@example.com
                %br/
            .col-lg-2.col-md-6.footer-links
              %h4 Useful Links
              %ul
                %li
                  %i.bx.bx-chevron-right
                  %a{href: "/asunm"} Home
                %li
                  %i.bx.bx-chevron-right
                  %a{href: "/asunm/personnel"} Our team
                %li
                  %i.bx.bx-chevron-right
                  %a{href: "/asunm/information"} About us
            .col-lg-3.col-md-6.footer-links
              %h4 Our Services
              %ul
                %li
                  %i.bx.bx-chevron-right
                  %a{href: "/asunm"} Running out of random ideas to put here
            .col-lg-4.col-md-6.footer-newsletter
              %h4 Join Our Newsletter
              %p ( Mailer is not set up )
              %form{action: "", method: "post"}
                %input{name: "email", type: "email"}/
                %input{type: "submit", value: "Subscribe"}/
      .container.d-md-flex.py-4
        .me-md-auto.text-center.text-md-start
          .copyright
            © Copyright
            = succeed "." do
              %strong
                %span ASUNM | University of New Mexico
          .credits
            / All the links in the footer should remain intact.
            / You can delete the links only if you purchased the pro version.
            / Licensing information: https://bootstrapmade.com/license/
            / Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
            Designed by
            %a{href: "https://www.ryanscherbarth.com/"} Ryan Scherbarth
        .social-links.text-center.text-md-right.pt-3.pt-md-0
          %a.twitter{href: "https://twitter.com/asunmlobos"}
            %i.bx.bxl-twitter
          %a.facebook{href: "https://www.facebook.com/asunmlobos/"}
            %i.bx.bxl-facebook
          %a.instagram{href: "https://www.instagram.com/asunmlobos/?hl=en"}
            %i.bx.bxl-instagram
          %a.linkedin{href: "https://www.linkedin.com/company/asunm/"}
            %i.bx.bxl-linkedin
    / End Footer
    #preloader
    %a.back-to-top.d-flex.align-items-center.justify-content-center{href: "#"}
      %i.bi.bi-arrow-up-short
    / Vendor JS Files
    -# %script{src: "assets/vendor/purecounter/purecounter_vanilla.js"}
    -# %script{src: "assets/vendor/aos/aos.js"}
    -# %script{src: "assets/vendor/bootstrap/js/bootstrap.bundle.min.js"}
    -# %script{src: "assets/vendor/swiper/swiper-bundle.min.js"}
    -# %script{src: "assets/vendor/php-email-form/validate.js"}
    %script{src: asset_path("vendor/purecounter/purecounter_vanilla.js")}
    %script{src: asset_path("vendor/aos/aos.js")}
    %script{src: asset_path("vendor/bootstrap/js/bootstrap.bundle.min.js")}
    %script{src: asset_path("vendor/swiper/swiper-bundle.min.js")}
    %script{src: asset_path("vendor/php-email-form/validate.js")}

    / Template Main JS File
    %script{src: "../assets/js/main.js"}
